$theme-frappe: (
    ctp-rosewater: #F2D5CF,
    ctp-flamingo: #EEBEBE,
    ctp-pink: #F4B8E4,
    ctp-mauve: #CA9EE6,
    ctp-red: #E78284,
    ctp-maroon: #EA999C,
    ctp-peach: #EF9F76,
    ctp-yellow: #E5C890,
    ctp-green: #A6D189,
    ctp-teal: #81C8BE,
    ctp-sky: #99D1DB,
    ctp-sapphire: #85C1DC,
    ctp-blue: #8CAAEE,
    ctp-lavender: #BABBF1,
    ctp-text: #C6CEEF,
    ctp-subtext1: #B5BDDC,
    ctp-subtext0: #A5ACC9,
    ctp-overlay2: #949BB7,
    ctp-overlay1: #838AA4,
    ctp-overlay0: #737891,
    ctp-surface2: #62677E,
    ctp-surface1: #51566C,
    ctp-surface0: #414559,
    ctp-base: #303446,
    ctp-mantle: #292C3C,
    ctp-crust: #232634,
    theme-mode: "dark",
    theme-name: "frappe",
);