$theme-macchiato: (
    ctp-rosewater: #F4DBD6,
    ctp-flamingo: #F0C6C6,
    ctp-pink: #F5BDE6,
    ctp-mauve: #C6A0F6,
    ctp-red: #ED8796,
    ctp-maroon: #EE99A0,
    ctp-peach: #F5A97F,
    ctp-yellow: #EED49F,
    ctp-green: #A6DA95,
    ctp-teal: #8BD5CA,
    ctp-sky: #91D7E3,
    ctp-sapphire: #7DC4E4,
    ctp-blue: #8AADF4,
    ctp-lavender: #B7BDF8,
    ctp-text: #C5CFF5,
    ctp-subtext1: #B3BCE0,
    ctp-subtext0: #A1AACB,
    ctp-overlay2: #8F97B7,
    ctp-overlay1: #7D84A2,
    ctp-overlay0: #6C728D,
    ctp-surface2: #5A5F78,
    ctp-surface1: #484C64,
    ctp-surface0: #363A4F,
    ctp-base: #24273A,
    ctp-mantle: #1E2030,
    ctp-crust: #181926,
    theme-mode: "dark",
    theme-name: "macchiato",
);