$theme-mocha-old: (
    ctp-rosewater: #F5E0DC,
    ctp-flamingo: #F2CDCD,
    ctp-pink: #F5C2E7,
    ctp-mauve: #CBA6F7,
    ctp-red: #F38BA8,
    ctp-maroon: #EBA0AC,
    ctp-peach: #FAB387,
    ctp-yellow: #F9E2AF,
    ctp-green: #A6E3A1,
    ctp-teal: #94E2D5,
    ctp-sky: #89DCEB,
    ctp-sapphire: #74C7EC,
    ctp-blue: #87B0F9,
    ctp-lavender: #B4BEFE,
    ctp-text: #D9E0EE,
    ctp-subtext1: #D3CDD6,
    ctp-subtext0: #BEB3C1,
    ctp-overlay2: #A79CB0,
    ctp-overlay1: #988BA2,
    ctp-overlay0: #6D6B7D,
    ctp-surface2: #575269,
    ctp-surface1: #2D2848,
    ctp-surface0: #302D41,
    ctp-base: #1E1E2E,
    ctp-mantle: #1A1826,
    ctp-crust: #161320,
    theme-mode: "dark",
    theme-name: "mocha-old",
    )