$theme-mocha: (
    ctp-rosewater: #F5E0DC,
    ctp-flamingo: #F2CDCD,
    ctp-pink: #F5C2E7,
    ctp-mauve: #CBA6F7,
    ctp-red: #F38BA8,
    ctp-maroon: #EBA0AC,
    ctp-peach: #FAB387,
    ctp-yellow: #F9E2AF,
    ctp-green: #A6E3A1,
    ctp-teal: #94E2D5,
    ctp-sky: #89DCEB,
    ctp-sapphire: #74C7EC,
    ctp-blue: #87B0F9,
    ctp-lavender: #B4BEFE,
    ctp-text: #C6D0F5,
    ctp-subtext1: #B3BCDF,
    ctp-subtext0: #A1A8C9,
    ctp-overlay2: #8E95B3,
    ctp-overlay1: #7B819D,
    ctp-overlay0: #696D86,
    ctp-surface2: #565970,
    ctp-surface1: #43465A,
    ctp-surface0: #313244,
    ctp-base: #1E1E2E,
    ctp-mantle: #181825,
    ctp-crust: #11111B,
    theme-mode: "dark",
    theme-name: "mocha",
);