$theme-rosepine-light: (
    ctp-rosewater: #D6817D,
    ctp-flamingo: #D6817D,
    ctp-pink: #907AA9,
    ctp-mauve: #907AA9,
    ctp-red: #B4637A,
    ctp-maroon: #B4637A,
    ctp-peach: #D6817D,
    ctp-yellow: #EA9D34,
    ctp-green: #56949F,
    ctp-teal: #56949F,
    ctp-sky: #286983,
    ctp-sapphire: #286983,
    ctp-blue: #286983,
    ctp-lavender: #907AA9,
    ctp-text: #575279,
    ctp-subtext1: #615C84,
    ctp-subtext0: #797593,
    ctp-overlay2: #807C99,
    ctp-overlay1: #9893A5,
    ctp-overlay0: #A19CAD,
    ctp-surface2: #CAC1B9,
    ctp-surface1: #D1C9C2,
    ctp-surface0: #DCD3CB,
    ctp-base: #EEE6DD,
    ctp-mantle: #E6DBD1,
    ctp-crust: #DDD0C6,
    theme-mode: "light",
    theme-name: "rosepine-light",
);