$theme-rosepine-dark: (
  ctp-rosewater: #F3D7CC,
  ctp-flamingo: #EBBCBA,
  ctp-pink: #DFA7E7,
  ctp-mauve: #C4A7E7,
  ctp-red: #EB6F92,
  ctp-maroon: #EB7A6F,
  ctp-peach: #EB9F6F,
  ctp-yellow: #F6C177,
  ctp-green: #72B69C,
  ctp-teal: #9CCFD8,
  ctp-sky: #31748F,
  ctp-sapphire: #4484AB,
  ctp-blue: #4C7FA9,
  ctp-lavender: #D2C1E7,
  ctp-text: #E0DEF4,
  ctp-subtext1: #908CAA,
  ctp-subtext0: #6E6A86,
  ctp-overlay2: #524F67,
  ctp-overlay1: #403D52,
  ctp-overlay0: #363253,
  ctp-surface2: #2E2A46,
  ctp-surface1: #21202E,
  ctp-surface0: #1F1D2E,
  ctp-base: #191724,
  ctp-mantle: #111019,
  ctp-crust: #0B0A10,
  theme-name: "rosepine-dark",
  theme-mode: "dark",
);

