.kanban-plugin,
.kanban-plugin__drag-container {
    button {
        box-shadow: none;

        &:hover {
            background-color: var(--background-modifier-hover);
            color: var(--text-normal);
            transition: background-color 0.1s;
        }
    }

    .kanban-plugin__new-item-button {
        font-size: .875rem;
        gap: 0.25em;
        height: auto;
        line-height: var(--line-height-tight);
        padding: 7px 10px;
    }
}

.anp-kanban-hide-card-menus:not(.is-mobile) {
    .kanban-plugin__item-title+.kanban-plugin__item-postfix-button-wrapper {
        display: none;
    }
}

.anp-kanban-hide-card-menus.anp-kanban-hide-archive-btn {
    &:not(.is-mobile) .kanban-plugin__item-title-wrapper {
        padding: 8px;
        position: relative;
    }

    &:not(.is-mobile) .kanban-plugin__item-prefix-button-wrapper {
        background-color: var(--background-primary);
        border-top-right-radius: var(--anp-kanban-card-radius, 6px);
        display: none;
        padding: 3px;
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 1;
    }

    &:not(.is-mobile) .kanban-plugin__item:hover .kanban-plugin__item-prefix-button-wrapper {
        display: flex;
    }

    &.is-mobile .kanban-plugin__item-prefix-button-wrapper {
        display: none;
    }
}