.workspace-tab-header,
.clickable-icon,
.dropdown, //dropdown select
.checkbox-container, //checkbox
input.slider,
.task-list-item-checkbox,
.vertical-tab-nav-item,
.nav-folder-title,
.nav-file-title,
.tree-item,
.tree-item-self.is-clickable,
.workspace-tab-header-status-icon,
.workspace-tab-header-inner-close-button,
.CodeMirror-foldmarker,
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded,
.markdown-source-view.mod-cm6 .edit-block-button,
.empty-state-action,
.setting-hotkey-icon,
.setting-add-hotkey-button,
.setting-restore-hotkey-button,
.spellchecker-dictionary-remove-button,
.community-item,
.status-bar-item.mod-clickable,
.titlebar-button,
.button,
.frontmatter-container .frontmatter-container-header,
.card.u-clickable,
.list-item-part.clickable-icon,
.u-clickable,
.document-search-close-button,
.markdown-preview-view .collapse-indicator,
.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator,
.input[type="color"],
.menu-item,
.modal-checkbox-label,
.view-header-breadcrumb,
.nav-action-button,
.tree-item-inner,
.callout.is-collapsible .callout-title,
.modal-close-button {
    cursor: var(--anp-cursor, var(--cursor));
}