body.anp-card-layout,
.anp-card-layout .sidebar-toggle-button,
.anp-card-layout .workspace-tabs.mod-top {
    --tab-container-background: rgb(var(--ctp-crust));
    --file-header-border: var(--border-width) dashed var(--background-modifier-border);
}
body.is-focused.anp-card-layout,
body.is-focused.anp-card-layout .sidebar-toggle-button,
body.is-focused.anp-card-layout .workspace-tabs.mod-top {
    --tab-container-background: rgb(var(--ctp-crust));
}
.anp-card-layout .mod-left-split .workspace-tab-header-container {
    border-bottom: none;
}
.anp-card-layout .mod-left-split .workspace-tabs .workspace-leaf,
.anp-card-layout .mod-right-split .workspace-tabs .workspace-leaf,
.anp-card-layout .mod-left-split,
.anp-card-layout .mod-vertical .workspace-tab-container,
.anp-card-layout .mod-vertical,
.anp-card-layout .workspace-split.mod-vertical,
.anp-card-layout .workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,
.anp-card-layout .mod-root .workspace-tabs .workspace-leaf {
    background-color: var(--tab-container-background);
}
.anp-card-layout .workspace-ribbon.mod-left {
    padding: 0;

    background-color: var(--tab-container-background);
    border: none;
}
.anp-card-layout-actions.anp-card-layout .workspace-ribbon.mod-left {
    margin-right: var(--anp-card-layout-padding, 10px);
}
.anp-card-layout .workspace-ribbon.mod-left:before {
    border-bottom: none;
    background-color: var(--tab-container-background) !important;
}
.anp-card-layout .side-dock-actions {
    padding: var(--ribbon-padding);
}
.anp-card-layout-actions.anp-card-layout .side-dock-actions {
    border-radius: 0px var(--anp-card-radius, var(--radius-xl)) var(--anp-card-radius, var(--radius-xl)) 0px;
    border: 1px solid var(--tab-outline-color);
    background-color: var(--background-primary);
    margin-top: 2px
}
.anp-card-layout-actions.anp-card-layout .side-dock-settings {
    border-radius: 0px var(--anp-card-radius, var(--radius-xl)) 0px 0px;
    border: 1px solid var(--tab-outline-color);
    background-color: var(--background-primary);
}
.anp-card-layout .side-dock-settings {
    padding: var(--ribbon-padding);
}
.anp-card-layout .workspace-ribbon.mod-left {
    margin-top: calc(var(--header-height) - 1px) !important;
}
.anp-card-layout .workspace-tab-header-container {
    border-bottom: none;
}
.anp-card-layout .mod-vertical .workspace-tab-header-container {
    padding-left: var(--anp-card-header-left-padding, 20px);
}
.anp-card-layout .mod-vertical .workspace-tab-header-container-inner {
    margin: 6px -5px calc(var(--tab-outline-width) * -1);
    z-index: 1;
}
.anp-card-layout .mod-vertical .workspace-tabs {
    padding-left: var(--anp-card-layout-padding, 10px);
    padding-right: var(--anp-card-layout-padding, 10px);
}
.anp-card-layout .mod-left-split .workspace-tab-container,
.anp-card-layout .mod-right-split .workspace-tab-container {
    padding-left: var(--anp-card-layout-padding, 10px);
    padding-right: var(--anp-card-layout-padding, 10px);
    background-color: var(--tab-container-background);
}
.anp-card-layout .workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.anp-card-layout .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
.anp-card-layout .workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
}
.anp-card-layout .workspace-split .workspace-leaf-content {
    border-radius: var(--anp-card-radius, var(--radius-xl));
    background-color: var(--background-primary);
    border: 1px solid var(--tab-outline-color);
    margin-bottom: var(--anp-card-layout-padding, 10px);
}
.anp-card-layout.anp-card-shadows {
    .workspace-split .workspace-leaf-content, .side-dock-actions {
        box-shadow: 0 3px 4px 0px rgba(0,0,0,0.05);
    }
    &.anp-card-layout-filebrowser {
        .workspace-split  .workspace-leaf-content[data-type="file-explorer"] {
            box-shadow: 0 3px 4px 0px rgba(0,0,0,0.05);
        }
    }
}
.anp-card-layout .workspace-split .workspace-leaf-content[data-type="file-explorer"] {
    background-color: var(--tab-container-background);
    box-shadow: none;
    border-width: 0px;
}
.anp-card-layout.anp-card-layout-filebrowser .workspace-split  .workspace-leaf-content[data-type="file-explorer"] {
    background-color: var(--background-primary);
    border-width: 1px;
}
.anp-card-layout .workspace-split .mod-stacked .workspace-leaf-content {
    border-radius: 0;
    border: none;
    margin-bottom: 0px;
    border-left: none;
}
.anp-card-layout .workspace-split.mod-horizontal > * {
    width: unset;
}
.anp-card-layout .mod-stacked .workspace-tab-header {
    border-style: solid;
    border-radius: var(--anp-card-radius, var(--radius-xl)) 0px 0px var(--anp-card-radius, var(--radius-xl)) !important;
    border-width: var(--tab-outline-width);
    border-color: var(--tab-outline-color);
    border-right: var(--tab-outline-width) dashed var(--tab-outline-color);
}
.anp-card-layout .mod-stacked .workspace-leaf {
    border-left-width: 0px;
    border-top-width: var(--tab-outline-width);
    border-bottom-width: var(--tab-outline-width);
    border-style: solid;
    border-color: var(--tab-outline-color);
    border-radius: 0 var(--anp-card-radius, var(--radius-xl)) var(--anp-card-radius, var(--radius-xl)) 0;
}
.anp-card-layout .mod-stacked .workspace-tab-container {
    padding-bottom: var(--anp-card-layout-padding, 10px);
}
.anp-card-layout .mod-top .workspace-leaf-resize-handle {
    border-color: transparent;
}
body.anp-disable-borders {
    --divider-color: transparent;
}
.anp-card-layout .workspace-drop-overlay:before {
  width: calc(100% - 6px - var(--anp-card-layout-padding, 0)*2);
  height: calc(100% - 6px - var(--anp-card-layout-padding, 0)*2);
  margin: auto;
}
.anp-bg-fix,
.anp-bg-fix .workspace,
.anp-bg-fix .app-container,
.anp-bg-fix .horizontal-main-container {
    background-color: var(--tab-container-background);
}
