.anp-simple-rainbow-color-toggle {
  &.anp-simple-rainbow-title-toggle {
    .nav-folder.mod-root > .nav-folder-children > .nav-folder .nav-folder-title {
      transition: color 0.4s;
      color: rgb(var(--rainbow-folder-color));
    }
  }
  &.anp-simple-rainbow-icon-toggle  .nav-folder.mod-root > .nav-folder-children > .nav-folder .nav-folder-title:after {
    transition: color 0.4s;
    color: rgb(var(--rainbow-folder-color));
    content: "⬤";
    position: relative;
    margin-left: 4px;
    top: 1px;
    opacity: 0.5;
  }
  &.anp-simple-rainbow-indentation-toggle  .nav-folder.mod-root .nav-folder > .nav-folder-children {
    transition: color 0.4s;
    border-color: rgba(var(--rainbow-folder-color), 0.5);
  }
  &.anp-simple-rainbow-collapse-toggle {
    .nav-folder.is-collapsed .collapse-icon, .nav-folder-collapse-indicator.collapse-icon {
      svg.svg-icon {
        transition: color 0.4s;
        color: rgb(var(--rainbow-folder-color));
      }
    }
  }
}
