/* AGPLv3 License
Floating Status Bar
Author: AnubisNekhet
Note: If you decide to implement it in your theme or redistribute it, please keep this comment (Especially for *certain* individuals who may try to rebrand it as their own :))
Support me: https://buymeacoffee.com/AnubisNekhet
*/
.anp-floating-status-bar {
    --status-bar-position: absolute;
    --status-bar-radius: var(--radius-m);
    --status-bar-border-width: 1px;

    .status-bar {
        transform: translateX(calc(100% + 5px));
        transition: transform 300ms 150ms;
        bottom: 5px;
        right: 5px;
        box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 5%);

        &::before {
            width: 100%;
            min-height: 100%;
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateX(-100%);
        }

        &:hover {
            transform: none;
            transition: transform 300ms 150ms;
        }
    }
}