$accents: "rosewater", "flamingo", "pink", "mauve", "red", "maroon", "peach",
    "yellow", "green", "teal", "sky", "sapphire", "blue", "lavender", "text", "subtext1", "subtext0", "overlay2", "overlay1", "overlay0", "surface2", "surface1", "surface0";

@each $accent in $accents {
    .anp-latex-inline-#{$accent} {
        span.math:not(.math-block) {
            // math blocks can be span if they are in a callout
            color: rgb(var(--ctp-#{$accent}));
        }
    }

    .anp-latex-block-#{$accent} {
        .math-block {
            color: rgb(var(--ctp-#{$accent}));
        }
    }
}

.math-block {
    font-size: var(--anp-latex-block-font-size, var(--font-size-lg));
}