.anp-list-toggle div.el-ul>ul.has-list-bullet>li>ul.has-list-bullet>li {
    &>.list-bullet::after {
        --list-bullet-border: 1px solid var(--list-marker-color);
        background-color: transparent;
        width: calc(var(--list-bullet-size) - 1px);
        height: calc(var(--list-bullet-size) - 1px);
    }

    >ul.has-list-bullet>li {
        &>.list-bullet::after {
            --list-bullet-radius: 0;
            background-color: var(--list-marker-color);
        }

        >ul.has-list-bullet>li {
            &>.list-bullet::after {
                width: calc(var(--list-bullet-size) - 1px);
                height: calc(var(--list-bullet-size) - 1px);
                --list-bullet-radius: 0;
                --list-bullet-border: 1px solid var(--list-marker-color);
                background-color: transparent;
            }
        }
    }
}