.markdown-source-view.mod-cm6 .HyperMD-codeblock.cm-line {
  white-space: var(--anp-codeblock-wrap-edit, pre-wrap);
  overflow-x: scroll;
}
.markdown-rendered pre {
  white-space: var(--anp-codeblock-wrap-preview, pre-wrap);
  & code {
    overflow-x: scroll;
  }
  overflow-x: auto;
}
.markdown-rendered :not(pre) > code {
  --code-normal: var(--anp-code-text-color, var(--text-normal));
}
.markdown-rendered code:not([class*="language"]) {
  --code-normal: var(--anp-code-text-color, var(--text-normal));
}
