.frontmatter-section-data-item {
  background-color: var(--background-secondary);
  padding: 0 4px;
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-m);
  font-family: var(--font-monospace);
  font-size: 80%;
}
.frontmatter-container .frontmatter-section-label {
  text-transform: uppercase;
  font-size: 70%;
  &::first-letter {
    font-size: 120%;
  }
}
