/*--------------HEADERS----------------*/

// Fix fold indicators of headings in edit mode when using em font sizes (match reading mode)
.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
  margin-left: -22px;
  padding: 0px 6px;
}

// Custom header font

$accents: "rosewater", "flamingo", "pink", "mauve", "red", "maroon", "peach", "yellow", "green", "teal", "sky", "sapphire", "blue", "lavender";
@for $a from 1 through 6 {
  @each $accent in $accents {
    .anp-header-color-toggle {
      &.anp-h#{$a}-#{$accent} {
        --h#{$a}-color: rgb(var(--ctp-#{$accent}));
      }
    }
  }
}
.anp-h1-divider .markdown-rendered :is(h1,h2,h3,h4,h5,h6),
.anp-h1-divider .HyperMD-header {
  border-bottom: var(--hr-thickness) solid var(--background-modifier-border);
  padding-bottom: 2px;
}

// Source editor recolor application
.cm-formatting-header-1 { color: var(--h1-color); }
.cm-formatting-header-2 { color: var(--h2-color); }
.cm-formatting-header-3 { color: var(--h3-color); }
.cm-formatting-header-4 { color: var(--h4-color); }
.cm-formatting-header-5 { color: var(--h5-color); }
.cm-formatting-header-6 { color: var(--h6-color); }
.anp-header-toggle.anp-header-margin-toggle :is(h1,h2,h3,h4,h5,h6) {
  margin-block-start: var(--anp-header-margin-value);
  margin-block-end: var(--anp-header-margin-value);
}
.anp-editor-font-toggle .markdown-source-view:not(.is-live-preview) {
  --h1-font: var(--anp-editor-font);
  --h2-font: var(--anp-editor-font);
  --h3-font: var(--anp-editor-font);
  --h4-font: var(--anp-editor-font);
  --h5-font: var(--anp-editor-font);
  --h6-font: var(--anp-editor-font);
}
