.anp-autohide-titlebar:not(.is-mobile) {

  --title-bar-delay: 150ms;
  --title-bar-duration: 300ms;
  --title-bar-target-translate-y: 18px;
  --title-bar-translate-y: 40px;

  .workspace-leaf-content .view-header {
    margin-top: calc(var(--title-bar-translate-y) * -1);
    margin-right: 50px;
    position: relative;
    transition: transform var(--title-bar-duration) var(--title-bar-delay), margin-right 0s calc(var(--title-bar-duration) + var(--title-bar-delay));
  }
  &:not(.mod-macos) .workspace-tabs.mod-top-right-space .workspace-leaf-content .view-header {
    margin-right: var(--frame-right-space);
    &:is(:hover,:focus-within) {
      margin-right: 0;
      transition: transform var(--title-bar-duration) var(--title-bar-delay), margin-right 0s;
    }
    &::before {
      width: calc(100% + var(--frame-right-space));
      top: var(--header-height);
    }
  }
  .workspace-leaf-content .view-header::before {
    bottom: calc(var(--title-bar-target-translate-y) * -1);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transition: transform var(--title-bar-duration) var(--title-bar-delay);
    width: 100%;
  }
  .workspace-leaf-content .view-content {
    transition: transform var(--title-bar-duration) var(--title-bar-delay);
  }
  .workspace-leaf-content .view-header:is(:hover,:focus-within)::before {
    transform: translateY(var(--title-bar-target-translate-y));
  }
  .workspace-leaf-content .view-header:is(:hover,:focus-within),
  .workspace-leaf-content .view-header:is(:hover,:focus-within) + .view-content {
    transform: translateY(var(--title-bar-translate-y));
  }
  .workspace-leaf-content .view-header:not(:hover,:focus-within) .clickable-icon {
    app-region: drag;
  }
  .view-header::before {
    z-index: 0;
  }
  .view-header > div {
    z-index: 1;
  }
  .view-header-title {
    --file-header-font-size: var(--font-ui-medium);
  }
}
