.anp-callout-toggle.anp-callout-sleek {
  &:not(.anp-callout-normal-toggle) .callout:not(.is-collapsible),
  .callout[data-callout-metadata*="revert"] {
      padding: 0px;
      > .callout-content {
        padding: 0 var(--callout-title-padding) var(--callout-title-padding) var(--callout-title-padding);
      }
      > .callout-title {
        background-color: transparent !important;
        padding: var(--callout-title-padding);
        cursor: pointer;
        .callout-title-inner {
          font-weight: normal;
        }
      }
  }
  &.anp-callout-normal-toggle {
    .callout:not(.is-collapsible):not([data-callout-metadata*="revert"]) {
      border-color: rgba(var(--callout-color), 0.4);
      border-width: 1px;
      border-radius: var(--callout-radius);
      background-color: rgba(var(--ctp-mantle), 0.4);
    }
    .callout:not([data-callout-metadata*="revert"]) > .callout-content {
      padding: var(--callout-title-padding) var(--callout-title-padding) var(--callout-title-padding) calc(var(--callout-title-padding)*1.5);
      border-top: 1px dashed rgba(var(--callout-color), 0.4);
    }
    .callout:not([data-callout-metadata*="revert"]) > .callout-title .callout-fold {
      padding-right: 0px;
    }
    .callout:not([data-callout-metadata*="revert"]) > .callout-title .callout-title-inner {
      flex-grow: var(--anp-callout-fold-position, unset);
    }
  }
  .callout:not([data-callout-metadata*="revert"]) {
    &.is-collapsible {
      * > .callout-title {
        & > .callout-fold {
          padding-right: 0px;
        }
        & > .callout-title-inner {
          flex-grow: var(--anp-callout-fold-position, unset);
        }
      }
      border-color: rgba(var(--callout-color), 0.4);
      border-width: 1px;
      border-radius: var(--callout-radius);
      background-color: rgba(var(--ctp-mantle), 0.4);
      --bold-weight: bolder;
      &.is-collapsed {
        padding: 0;
        & > .callout-title {
          background-color: rgba(var(--callout-color), 0.1);
          padding: var(--callout-title-padding);
          cursor: pointer;
        }
        & > .callout-content {
          display: none;
        }
      }
      &:not(.is-collapsed) {
        padding: 0px 0px var(--callout-title-padding) 0px;
        & > .callout-title {
          background-color: rgba(var(--callout-color), 0.1);
          padding: var(--callout-title-padding);
          border-color: rgba(var(--callout-color), 0.4);
          cursor: pointer;
        }
        & > .callout-content {
          padding: var(--callout-title-padding) var(--callout-title-padding) 0 calc(var(--callout-title-padding)*1.5);
          border-top: 1px dashed rgba(var(--callout-color), 0.4);
        }
      }
    }
    &:not(.is-collapsible) {
      padding: 0px;
      & > .callout-title {
        background-color: rgba(var(--callout-color), 0.1);
        padding: var(--callout-title-padding);
        border-color: rgba(var(--callout-color), 0.4);
      }
    }
    .list-collapse-indicator {
      margin-left: -35px;
      padding-right: 3px;
    }
  }
}
