.anp-callout-vanilla.anp-callout-toggle {
  .callout {
    background-color: transparent;
    border-radius: var(--radius-s);
    padding: 0;
    .callout-title {
      background-color: rgba(var(--callout-color), 0.1);
    }
    .callout-content {
      padding: var(--callout-padding);
      background-color: rgb(var(--ctp-mantle));
    }
    .callout-title, .callout-content {
      border-left: var(--size-2-3) solid rgb(var(--callout-color));
    }
  }
}
