$theme-atom-dark: (
  ctp-rosewater: #E2C4A8,
  ctp-flamingo: #EEBBD8,
  ctp-pink: #DD78D3,
  ctp-mauve: #C678DD,
  ctp-red: #E06C75,
  ctp-maroon: #E0796C,
  ctp-peach: #D19A66,
  ctp-yellow: #E5C07B,
  ctp-green: #98C379,
  ctp-teal: #56B6C2,
  ctp-sky: #53B9AE,
  ctp-sapphire: #5DB9BB,
  ctp-blue: #61AFEF,
  ctp-lavender: #AA7FB7,
  ctp-text: #DDDEDF,
  ctp-subtext1: #ABABAB,
  ctp-subtext0: #878787,
  ctp-overlay2: #6C7384,
  ctp-overlay1: #606676,
  ctp-overlay0: #505562,
  ctp-surface2: #424958,
  ctp-surface1: #393F4C,
  ctp-surface0: #303540,
  ctp-base: #272B34,
  ctp-mantle: #21252B,
  ctp-crust: #1A1E24,
  theme-mode: "dark",
  theme-name: "atom-dark",
);
