$theme-atom-light: (
  ctp-rosewater: #E59479,
  ctp-flamingo: #C56783,
  ctp-pink: #A62568,
  ctp-mauve: #A625A4,
  ctp-red: #E75545,
  ctp-maroon: #E76545,
  ctp-peach: #E35649,
  ctp-yellow: #986800,
  ctp-green: #4EA24C,
  ctp-teal: #00BCB6,
  ctp-sky: #0084BC,
  ctp-sapphire: #0077BC,
  ctp-blue: #3D74F6,
  ctp-lavender: #985497,
  ctp-text: #383A42,
  ctp-subtext1: #4D505B,
  ctp-subtext0: #636674,
  ctp-overlay2: #7B7C8A,
  ctp-overlay1: #94949E,
  ctp-overlay0: #AEADB3,
  ctp-surface2: #C9C5C5,
  ctp-surface1: #DAD8D8,
  ctp-surface0: #EDEDED,
  ctp-base: #FAFAFA,
  ctp-mantle: #EAEAEB,
  ctp-crust: #DBDBDC,
  theme-mode: "light",
  theme-name: "atom-light",
);
