$theme-biscuit-dark: (
	ctp-rosewater: #dbb17f,
	ctp-flamingo: #cd627b,
	ctp-pink: #ae3f82,
	ctp-mauve: #7b3d79,
	ctp-red: #cf223e,
	ctp-maroon: #cf3022,
	ctp-peach: #e39c45,
	ctp-yellow: #e3bb45,
	ctp-green: #959a6b,
	ctp-teal: #768f80,
	ctp-sky: #768f86,
	ctp-sapphire: #4f5476,
	ctp-blue: #614f76,
	ctp-lavender: #756d94,
	ctp-text: #ffe9c7,
	ctp-subtext1: #dcc9bc,
	ctp-subtext0: #c2b2b2,
	ctp-overlay2: #ae9898,
	ctp-overlay1: #9c8181,
	ctp-overlay0: #8c6e6e,
	ctp-surface2: #725a5a,
	ctp-surface1: #644f4f,
	ctp-surface0: #534141,
	ctp-base: #453636,
	ctp-mantle: #2d2424,
	ctp-crust: #1a1515,
	theme-name: "biscuit-dark",
	theme-mode: "dark",
);
