$theme-coffee-dark: (
  ctp-rosewater: #ECDED5,
  ctp-flamingo: #EAC3D6,
  ctp-pink: #EA9FC2,
  ctp-mauve: #D79FEA,
  ctp-red: #EA9F9F,
  ctp-maroon: #EAA99F,
  ctp-peach: #EAB29F,
  ctp-yellow: #EAC99F,
  ctp-green: #AED5A5,
  ctp-teal: #A4EAC0,
  ctp-sky: #AEE0CE,
  ctp-sapphire: #A3E1EB,
  ctp-blue: #A3C8EB,
  ctp-lavender: #B6BAE2,
  ctp-text: #FADAC3,
  ctp-subtext1: #F7CCAC,
  ctp-subtext0: #EBC0A0,
  ctp-overlay2: #C7A388,
  ctp-overlay1: #AD907C,
  ctp-overlay0: #786660,
  ctp-surface2: #5E5456,
  ctp-surface1: #554D52,
  ctp-surface0: #4C464E,
  ctp-base: #3A3845,
  ctp-mantle: #2F2E38,
  ctp-crust: #26252D,
  theme-name: "coffee-dark",
  theme-mode: "dark",
);

