$theme-dracula: (
  ctp-rosewater: #F6C999,
  ctp-flamingo: #F5BDA6,
  ctp-pink: #E49DF8,
  ctp-mauve: #BD93F9,
  ctp-red: #FF5555,
  ctp-maroon: #E66666,
  ctp-peach: #FFB86C,
  ctp-yellow: #F1FA8C,
  ctp-green: #50FA7B,
  ctp-teal: #68DBD3,
  ctp-sky: #8BE9FD,
  ctp-sapphire: #68C5F0,
  ctp-blue: #5F7EDE,
  ctp-lavender: #C592DE,
  ctp-text: #F8F8F2,
  ctp-subtext1: #D3D3C5,
  ctp-subtext0: #BFBFB5,
  ctp-overlay2: #8B8FA7,
  ctp-overlay1: #6E7291,
  ctp-overlay0: #585C74,
  ctp-surface2: #44475A,
  ctp-surface1: #383B4C,
  ctp-surface0: #303241,
  ctp-base: #282A36,
  ctp-mantle: #21222C,
  ctp-crust: #1A1B23,
  theme-mode: "dark",
  theme-name: "dracula",
);

