$theme-everforest-dark: (
  ctp-rosewater: #E7C69B,
  ctp-flamingo: #E0BACF,
  ctp-pink: #E396AE,
  ctp-mauve: #B87B9D,
  ctp-red: #DA6362,
  ctp-maroon: #DA7462,
  ctp-peach: #D77F48,
  ctp-yellow: #BF983D,
  ctp-green: #899C40,
  ctp-teal: #569D79,
  ctp-sky: #569D90,
  ctp-sapphire: #569C9D,
  ctp-blue: #5A93A2,
  ctp-lavender: #B490CA,
  ctp-text: #D3C6AA,
  ctp-subtext1: #B6C0B4,
  ctp-subtext0: #9AA79D,
  ctp-overlay2: #859289,
  ctp-overlay1: #7F897D,
  ctp-overlay0: #515B61,
  ctp-surface2: #4A555B,
  ctp-surface1: #404C51,
  ctp-surface0: #374247,
  ctp-base: #2F383E,
  ctp-mantle: #272F34,
  ctp-crust: #22282C,
  theme-mode: "dark",
  theme-name: "everforest-dark",
);
