$theme-everforest-light: (
  ctp-rosewater: #DEB191,
  ctp-flamingo: #DDB5C2,
  ctp-pink: #E982BE,
  ctp-mauve: #B87A9C,
  ctp-red: #F85552,
  ctp-maroon: #F86852,
  ctp-peach: #F57D26,
  ctp-yellow: #BF983D,
  ctp-green: #899C40,
  ctp-teal: #569D79,
  ctp-sky: #569D8B,
  ctp-sapphire: #569D8A,
  ctp-blue: #5A93A2,
  ctp-lavender: #D0A1BB,
  ctp-text: #5C6A72,
  ctp-subtext1: #727D84,
  ctp-subtext0: #879686,
  ctp-overlay2: #939F91,
  ctp-overlay1: #A4AD9E,
  ctp-overlay0: #DFDBC8,
  ctp-surface2: #E3E0CC,
  ctp-surface1: #EDEAD5,
  ctp-surface0: #F3EFDA,
  ctp-base: #FDF6E3,
  ctp-mantle: #F6F1DD,
  ctp-crust: #F0EDD8,
  theme-mode: "light",
  theme-name: "everforest-light",
);
