$theme-flexoki-dark: (
  ctp-rosewater: #F5E0DC,
  ctp-flamingo: #F2CDCD,
  ctp-pink: #F5C2E7,
  ctp-mauve: #CBA6F7,
  ctp-red: #F38BA8,
  ctp-maroon: #EBA0AC,
  ctp-peach: #FAB387,
  ctp-yellow: #F9E2AF,
  ctp-green: #A6E3A1,
  ctp-teal: #94E2D5,
  ctp-sky: #89DCEB,
  ctp-sapphire: #74C7EC,
  ctp-blue: #87B0F9,
  ctp-lavender: #B4BEFE,
  ctp-text: #cfcec4,
  ctp-subtext1: #b3b1a8,
  ctp-subtext0: #9e9c94,
  ctp-overlay2: #888681,
  ctp-overlay1: #7b7a74,
  ctp-overlay0: #6F6E69,
  ctp-surface2: #575653,
  ctp-surface1: #403E3C,
  ctp-surface0: #343331,
  ctp-base: #1C1B1A,
  ctp-mantle: #100F0F,
  ctp-crust: #080707,
  ctp-accent: #24837B,
  theme-mode: "dark",
  theme-name: "flexoki-dark",
);
