$theme-generic-dark: (
  ctp-rosewater: #F5E0DC,
  ctp-flamingo: #F2CDCD,
  ctp-pink: #F5C2E7,
  ctp-mauve: #CBA6F7,
  ctp-red: #F38BA8,
  ctp-maroon: #EBA0AC,
  ctp-peach: #FAB387,
  ctp-yellow: #F9E2AF,
  ctp-green: #A6E3A1,
  ctp-teal: #94E2D5,
  ctp-sky: #89DCEB,
  ctp-sapphire: #74C7EC,
  ctp-blue: #87B0F9,
  ctp-lavender: #B4BEFE,
  ctp-text: #FFFFFF,
  ctp-subtext1: #D2D2D2,
  ctp-subtext0: #BDBDBD,
  ctp-overlay2: #A8A8A8,
  ctp-overlay1: #939393,
  ctp-overlay0: #7E7E7E,
  ctp-surface2: #696969,
  ctp-surface1: #545454,
  ctp-surface0: #3F3F3F,
  ctp-base: #2A2A2A,
  ctp-mantle: #151515,
  ctp-crust: #000000,
  theme-mode: "dark",
  theme-name: "generic-dark",
);
