$theme-gruvbox-dark: (
  ctp-rosewater: #F38019,
  ctp-flamingo: #CFA2AE,
  ctp-pink: #B16276,
  ctp-mauve: #B16286,
  ctp-red: #CC241D,
  ctp-maroon: #CC311D,
  ctp-peach: #D65D0E,
  ctp-yellow: #D79921,
  ctp-green: #98971A,
  ctp-teal: #66981A,
  ctp-sky: #1A984C,
  ctp-sapphire: #1A8598,
  ctp-blue: #458588,
  ctp-lavender: #926FAF,
  ctp-text: #FBF1C7,
  ctp-subtext1: #D5C4A1,
  ctp-subtext0: #BDAE93,
  ctp-overlay2: #97897D,
  ctp-overlay1: #7C6F64,
  ctp-overlay0: #665C54,
  ctp-surface2: #504945,
  ctp-surface1: #3C3836,
  ctp-surface0: #32302F,
  ctp-base: #282828,
  ctp-mantle: #1D2021,
  ctp-crust: #131516,
  theme-name: "gruvbox-dark",
  theme-mode: "dark",
);

