$theme-gruvbox-light: (
  ctp-rosewater: #F38019,
  ctp-flamingo: #CFA2AE,
  ctp-pink: #B16276,
  ctp-mauve: #B16286,
  ctp-red: #CC241D,
  ctp-maroon: #CC311D,
  ctp-peach: #D65D0E,
  ctp-yellow: #D79921,
  ctp-green: #98971A,
  ctp-teal: #66981A,
  ctp-sky: #1A984C,
  ctp-sapphire: #1A8598,
  ctp-blue: #458588,
  ctp-lavender: #926FAF,
  ctp-text: #282828,
  ctp-subtext1: #504945,
  ctp-subtext0: #665C54,
  ctp-overlay2: #95836A,
  ctp-overlay1: #A89985,
  ctp-overlay0: #BDAE93,
  ctp-surface2: #D6C4A1,
  ctp-surface1: #EBDBB3,
  ctp-surface0: #F2E5BC,
  ctp-base: #F9F5D7,
  ctp-mantle: #ECE1C4,
  ctp-crust: #E6D7B2,
  theme-name: "gruvbox-light",
  theme-mode: "light",
);

