$theme-kanagawa-dark: (
  ctp-rosewater: #FFC894,
  ctp-flamingo: #D27E81,
  ctp-pink: #D27E99,
  ctp-mauve: #957FB8,
  ctp-red: #FF5D62,
  ctp-maroon: #E46876,
  ctp-peach: #FFA066,
  ctp-yellow: #E6C384,
  ctp-green: #98BB6C,
  ctp-teal: #7AA89F,
  ctp-sky: #A3D4D5,
  ctp-sapphire: #7FB4CA,
  ctp-blue: #7E9CD8,
  ctp-lavender: #938AA9,
  ctp-text: #DCD7BA,
  ctp-subtext1: #D4CEAA,
  ctp-subtext0: #C8C093,
  ctp-overlay2: #5F5F7C,
  ctp-overlay1: #54546D,
  ctp-overlay0: #49495F,
  ctp-surface2: #3E3E51,
  ctp-surface1: #363645,
  ctp-surface0: #2A2A37,
  ctp-crust: #0B0B0F,
  ctp-mantle: #16161D,
  ctp-base: #1F1F28,
  theme-mode: "dark",
  theme-name: "kanagawa-dark",
);
