$theme-luminescence-light: (
  ctp-rosewater: #E38282,
  ctp-flamingo: #E3829A,
  ctp-pink: #EDACAB,
  ctp-mauve: #D4A5C6,
  ctp-red: #E89897, 
  ctp-maroon: #D19594, 
  ctp-peach: #E5AC9A, 
  ctp-yellow: #F2CB8C,
  ctp-green: #94BD75,
  ctp-teal: #629D8E,
  ctp-sky: #629D9D,
  ctp-sapphire: #7599BD, 
  ctp-blue: #8292C9,
  ctp-lavender: #9797D3, 
  ctp-text: #654941,
  ctp-subtext1: #7A5B52,
  ctp-subtext0: #7A5B52,
  ctp-overlay2: #9D827B,
  ctp-overlay1: #C2ABA3,
  ctp-overlay0: #DFDBC8,
  ctp-surface2: #F6F3EF,
  ctp-surface1: #E1D4D0,
  ctp-surface0: #CDB7B1,
  ctp-base: #F2EEE8,
  ctp-mantle: #ECE7DF,
  ctp-crust: #ECE7DF,
  theme-mode: "light",
  theme-name: "luminescence-light",
)
