$theme-material-mint-dark: (
	ctp-rosewater: #F5E0DC,
	ctp-flamingo: #F2CDCD,
	ctp-pink: #F5C2E7,
	ctp-mauve: #CBA6F7,
	ctp-red: #F38BA8,
	ctp-maroon: #EBA0AC,
	ctp-peach: #FAB387,
	ctp-yellow: #F9E2AF,
	ctp-green: #A6E3A1,
	ctp-teal: #BDD6DB,
	ctp-sky: #89DCEB,
	ctp-sapphire: #74C7EC,
	ctp-blue: #87B0F9,
	ctp-lavender: #B4BEFE,
	ctp-text: #BDD6DB,
	ctp-subtext1: #A2C6CD,
	ctp-subtext0: #88B6BF,
	ctp-overlay2: #6DA5B0,
	ctp-overlay1: #56939F,
	ctp-overlay0: #477A85,
	ctp-surface2: #39626A,
	ctp-surface1: #2B4950,
	ctp-surface0: #1D3135,
	ctp-base: #121F21,
	ctp-mantle: #0B1214,
	ctp-crust: #05090A,
  theme-mode: "dark",
  theme-name: "material-mint-dark",
)

