$theme-nord-light: (
  ctp-rosewater: #D18770,
  ctp-flamingo: #B48EAD,
  ctp-pink: #B48EAD,
  ctp-mauve: #B48EAD,
  ctp-red: #BF616A,
  ctp-maroon: #BF616A,
  ctp-peach: #D08770,
  ctp-yellow: #D8AC54,
  ctp-green: #88A76C,
  ctp-teal: #79BF8E,
  ctp-sky: #8FBCBB,
  ctp-sapphire: #88C0D0,
  ctp-blue: #5E81AC,
  ctp-lavender: #5E81AC,
  ctp-text: #2E3440,
  ctp-subtext1: #3B4252,
  ctp-subtext0: #434C5E,
  ctp-overlay2: #4C566A,
  ctp-overlay1: #566176,
  ctp-overlay0: #8FBCBB,
  ctp-surface2: #D8DEE9,
  ctp-surface1: #D8DEE9,
  ctp-surface0: #E5E9F0,
  ctp-crust: #E5E9F0,
  ctp-mantle: #E7EBF1,
  ctp-base: #ECEFF4,
  ctp-accent: #88C0D0,
  theme-mode: "light",
  theme-name: "nord-light",
);

