$theme-nord-dark: (
  ctp-rosewater: #E2BFA9,
  ctp-flamingo: #EFAB96,
  ctp-pink: #D6A3DE,
  ctp-mauve: #B48EAD,
  ctp-red: #BF616A,
  ctp-maroon: #BF6C61,
  ctp-peach: #D08770,
  ctp-yellow: #EBCB8B,
  ctp-green: #A3BE8C,
  ctp-teal: #8FBCBB,
  ctp-sky: #88C0D0,
  ctp-sapphire: #81A1C1,
  ctp-blue: #5E81AC,
  ctp-lavender: #C0A7BB,
  ctp-text: #ECEFF4,
  ctp-subtext1: #E5E9F0,
  ctp-subtext0: #D9DEE8,
  ctp-overlay2: #C4C9D4,
  ctp-overlay1: #ACB4C3,
  ctp-overlay0: #959EB2,
  ctp-surface2: #7D89A1,
  ctp-surface1: #67748E,
  ctp-surface0: #4D576A,
  ctp-base: #434C5E,
  ctp-mantle: #3B4252,
  ctp-crust: #2E3440,
  ctp-accent: #88C0D0,
  theme-mode: "dark",
  theme-name: "nord-dark",
);

