$theme-notion-dark: (
  ctp-rosewater: #F6AE8A,
  ctp-flamingo: #F8A09A,
  ctp-pink: #E255A1,
  ctp-mauve: #9A6DD7,
  ctp-red: #FF7369,
  ctp-maroon: #FF7869,
  ctp-peach: #FFA344,
  ctp-yellow: #FFDC49,
  ctp-green: #4DAB9A,
  ctp-teal: #4DABA5,
  ctp-sky: #4DA6AB,
  ctp-sapphire: #52B2CA,
  ctp-blue: #529CCA,
  ctp-lavender: #9C7DC6,
  ctp-text: #E3E6E8,
  ctp-subtext1: #DEE1E3,
  ctp-subtext0: #C8CDD0,
  ctp-overlay2: #B2B9BD,
  ctp-overlay1: #9CA5AB,
  ctp-overlay0: #869198,
  ctp-surface2: #717D84,
  ctp-surface1: #5E686E,
  ctp-surface0: #4B5358,
  ctp-base: #3D4448,
  ctp-mantle: #363C3F,
  ctp-crust: #2F3437,
  theme-mode: "dark",
  theme-name: "notion-dark",
);
