$theme-notion-light: (
  ctp-rosewater: #E47A70,
  ctp-flamingo: #BA5275,
  ctp-pink: #AD1A72,
  ctp-mauve: #6940A5,
  ctp-red: #E03E3E,
  ctp-maroon: #E04C3E,
  ctp-peach: #D9730D,
  ctp-yellow: #DFAB01,
  ctp-green: #0F7B6C,
  ctp-teal: #0F7B7B,
  ctp-sky: #0B8899,
  ctp-sapphire: #0B7A99,
  ctp-blue: #0B6E99,
  ctp-lavender: #6B548D,
  ctp-text: #37352F,
  ctp-subtext1: #4D4A42,
  ctp-subtext0: #635F54,
  ctp-overlay2: #797567,
  ctp-overlay1: #7B878E,
  ctp-overlay0: #919BA1,
  ctp-surface2: #AAB1B6,
  ctp-surface1: #BDC3C7,
  ctp-surface0: #D0D4D7,
  ctp-crust: #E3E6E8,
  ctp-mantle: #F4F5F6,
  ctp-base: #FFFFFF,
  theme-mode: "light",
  theme-name: "notion-light",
);
