$theme-rosebox: (
  ctp-rosewater: #A57562,
  ctp-flamingo: #A57562,
  ctp-pink: #B48EAD,
  ctp-mauve: #B48EAD,
  ctp-red: #BF616A,
  ctp-maroon: #BF616A,
  ctp-peach: #D08770,
  ctp-yellow: #EBCB8B,
  ctp-green: #A3BE8C,
  ctp-teal: #8FBCBB,
  ctp-sky: #88C0D0,
  ctp-sapphire: #88C0D0,
  ctp-blue: #5E81AC,
  ctp-lavender: #81A1C1,
  ctp-text: #A3A5AA,
  ctp-subtext1: #878991,
  ctp-subtext0: #6E7177,
  ctp-overlay2: #5C5C5C,
  ctp-overlay1: #525252,
  ctp-overlay0: #474747,
  ctp-surface2: #3D3D3D,
  ctp-surface1: #333333,
  ctp-surface0: #282828,
  ctp-base: #232323,
  ctp-mantle: #1E1E1E,
  ctp-crust: #191919,
  ctp-accent: #A57562,
  theme-mode: "dark",
  theme-name: "rosebox",
);

