$theme-royal-velvet: (
  ctp-rosewater: #F6C999,
  ctp-flamingo: #F5BDA6,
  ctp-pink: #E49DF8,
  ctp-mauve: #C592DE,
  ctp-red: #F078A0,
  ctp-maroon: #E66666,
  ctp-peach: #E6C37D,
  ctp-yellow: #F1FA8C,
  ctp-green: #82EB82,
  ctp-teal: #72E0D6,
  ctp-sky: #8BE9FD,
  ctp-sapphire: #68C5F0,
  ctp-blue: #5F7EDE,
  ctp-lavender: #9A8DF7,
  ctp-text: #F8F8F2,
  ctp-subtext1: #D3D3C5,
  ctp-subtext0: #BFBFB5,
  ctp-overlay2: #8B8FA7,
  ctp-overlay1: #6E7291,
  ctp-overlay0: #585C74,
  ctp-surface2: #44475A,
  ctp-surface1: #383B4C,
  ctp-surface0: #303241,
  ctp-base: #1E1E24,
  ctp-mantle: #19191E,
  ctp-crust: #141419,
  theme-mode: "dark",
  theme-name: "royal-velvet",
);
