$theme-sandy-beaches-light: (
  ctp-rosewater: #E4D4C4,
  ctp-flamingo: #D6BCAE,
  ctp-pink: #C8A498,
  ctp-mauve: #95888A,
  ctp-red: #A6897B,
  ctp-maroon: #BA907B,
  ctp-peach: #C7A187,
  ctp-yellow: #D4BBA0,
  ctp-green: #989686,
  ctp-teal: #959C99,
  ctp-sky: #8A9BA3,
  ctp-sapphire: #7C858F,
  ctp-blue: #6D6F7B,
  ctp-lavender: #87808E,
  ctp-text: #685850,
  ctp-subtext1: #6C5C54,
  ctp-subtext0: #6F6058,
  ctp-overlay2: #766760,
  ctp-overlay1: #7C6E67,
  ctp-overlay0: #82756E,
  ctp-surface2: #CDC5C1,
  ctp-surface1: #D4CDC8,
  ctp-surface0: #DED8D1,
  ctp-crust: #E6DFD8,
  ctp-mantle: #EDE7E0,
  ctp-base: #F0EAE2,
  theme-mode: "light",
  theme-name: "sandy-beaches-light",
);
