$theme-solarized-light: (
  ctp-rosewater: #E38359,
  ctp-flamingo: #F18EA8,
  ctp-pink: #D33682,
  ctp-mauve: #6C71C4,
  ctp-red: #DC322F,
  ctp-maroon: #DC3C2E,
  ctp-peach: #CB4B16,
  ctp-yellow: #B58900,
  ctp-green: #859900,
  ctp-teal: #2AA198,
  ctp-sky: #2A91A1,
  ctp-sapphire: #27A8D3,
  ctp-blue: #268BD2,
  ctp-lavender: #8B8FDE,
  ctp-text: #002B36,
  ctp-subtext1: #073642,
  ctp-subtext0: #0A4C5C,
  ctp-overlay2: #4D6066,
  ctp-overlay1: #586E75,
  ctp-overlay0: #657B83,
  ctp-surface2: #839496,
  ctp-surface1: #91A0A1,
  ctp-surface0: #ADB8B8,
  ctp-base: #FDF6E3,
  ctp-mantle: #EDE8D6,
  ctp-crust: #E0D7B8,
  theme-name: "solarized-light",
  theme-mode: "light",
);

