$theme-solarized-dark: (
  ctp-rosewater: #E38359,
  ctp-flamingo: #F18EA8,
  ctp-pink: #D33682,
  ctp-mauve: #6C71C4,
  ctp-red: #DC322F,
  ctp-maroon: #DC3C2E,
  ctp-peach: #CB4B16,
  ctp-yellow: #B58900,
  ctp-green: #859900,
  ctp-teal: #2AA198,
  ctp-sky: #2A91A1,
  ctp-sapphire: #27A8D3,
  ctp-blue: #268BD2,
  ctp-lavender: #8B8FDE,
  ctp-text: #FDF6E3,
  ctp-subtext1: #EDE8D6,
  ctp-subtext0: #E1D7B7,
  ctp-overlay2: #93A1A1,
  ctp-overlay1: #759FA3,
  ctp-overlay0: #6AA8AF,
  ctp-surface2: #338199,
  ctp-surface1: #266173,
  ctp-surface0: #0A4C5C,
  ctp-base: #073642,
  ctp-mantle: #002B36,
  ctp-crust: #002129,
  theme-mode: "dark",
  theme-name: "solarized-dark",
);

