$theme-thorns: (
	ctp-rosewater: #e6c2ad,
	ctp-flamingo: #e8b496,
	ctp-pink: #d895ee,
	ctp-mauve: #ca97e8,
	ctp-red: #ee9598,
	ctp-maroon: #eea196,
	ctp-peach: #e8b197,
	ctp-yellow: #e8d097,
	ctp-green: #9be099,
	ctp-teal: #b2e1df,
	ctp-sky: #97d0e8,
	ctp-sapphire: #96b4e8,
	ctp-blue: #979ae8,
	ctp-lavender: #beade6,
	ctp-text: #d8d0d5,
	ctp-subtext1: #ada9ab,
	ctp-subtext0: #909090,
	ctp-overlay2: #808080,
	ctp-overlay1: #707070,
	ctp-overlay0: #505050,
	ctp-surface2: #454545,
	ctp-surface1: #3b3b3b,
	ctp-surface0: #2e2e2e,
	ctp-base: #151515,
	ctp-mantle: #0f0f0f,
	ctp-crust: #0a0a0a,
	ctp-accent: #d895ee,
	theme-mode: "dark",
	theme-name: "thorns",
);
