.anp-collapse-folders .workspace-leaf-content:not([data-type="search"]) {
    .nav-folder.mod-root .nav-folder>.nav-folder-children:is(.nav-file, .nav-folder) {
        margin-left: var(--size-2-1);
    }

    .tree-item .nav-folder-title {
        align-items: center;
    }

    .tree-item .collapse-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M6 14l1.45-2.9A2 2 0 0 1 9.24 10H22a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H20a2 2 0 0 1 2 2v2'/%3E%3C/svg%3E%0A");
        -webkit-mask-repeat: no-repeat;
        background-color: currentColor;
        display: flex;
        flex-basis: 100%;
        height: 16px;
        width: 17px;
    }

    .tree-item.is-collapsed .collapse-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M4 20h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.93a2 2 0 0 1-1.66-.9l-.82-1.2A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13c0 1.1.9 2 2 2z'/%3E%3Cpath d='M2 10h20' /%3E%3C/svg%3E%0A");
    }

    .tree-item .collapse-icon svg {
        display: none;
    }
}