.workspace-leaf-content[data-type="advanced-tables-toolbar"] .nav-buttons-container {
    border-style: dashed;
    border-color: var(--background-modifier-border);
    border-width: 0px 0px 1px 0px;
    margin-top: 10px;
    gap: 10px;
}