/*-Fix dataview table header size-*/
.table-view-table>thead>tr>th {
    font-size: medium;
    color: var(--text-muted);
}

.dataview.inline-field-standalone-value,
.dataview.inline-field-key,
.dataview.inline-field-value {
    padding-left: 0px;
    padding-right: 0px;
    font-family: inherit;
    background-color: transparent;
    color: var(--text-normal);
}

.dataview.inline-field-standalone-value,
.dataview.inline-field-value {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: rgba(var(--ctp-yellow), 0.4);
}

.dataview.inline-field-key {
    font-weight: bold;
    color: var(--bold-color);
    padding-right: 0;

    &::after {
        content: ':';
        height: inherit;
        width: fit-content;
    }
}

.dataview.inline-field-value {
    padding-left: 8px;
}