.obsidian-icon-folder-icon {
    margin-top: -5px;
}

.anp-simple-rainbow-color-toggle.anp-simple-rainbow-icon-folder-toggle .obsidian-icon-folder-icon {
    color: rgb(var(--rainbow-folder-color));
}

.obsidian-icon-folder-modal.prompt-results .suggestion-item {
    color: var(--text-normal);
}

.prompt .obsidian-icon-folder-subheadline {
    color: var(--text-muted);
}