// gemmy my beloved
.gemmy-tooltip.tooltip {
    display: block;
    --background-modifier-message: rgb(var(--ctp-yellow));
    color: rgb(var(--ctp-base));
    font-size: var(--font-ui-medium);
    border-radius: var(--size-4-1);
    padding: var(--size-4-2) var(--size-4-3);
}