/* @settings
name: AnuPpuccin
id: anuppuccin-theme-settings
settings:

# Colors

-
    id: anp-colors-section-header
    title: Colors
    description: Theme Accent and Flavors, Color Overrides, Extended Color Schemes
    type: heading
    level: 1
    collapsed: true
-
    id: anuppuccin-theme-light
    title: Light Theme Flavor
    description: Select your preferred light mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-latte
    options:
    -
        label: Latte
        value: ctp-latte
    -
        label: Rosé Pine
        value: ctp-rosepine-light
-
    id: anuppuccin-theme-dark
    title: Dark Theme Flavor
    description: Select your preferred dark mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-mocha
    options:
    -
        label: Frappe
        value: ctp-frappe
    -
        label: Macchiato
        value: ctp-macchiato
    -
        label: Mocha
        value: ctp-mocha
    -
        label: Mocha Old
        value: ctp-mocha-old
-
    id: anuppuccin-light-theme-accents
    title: Light Theme Accent
    description: Select your preferred light theme accent (Defaults to dark theme accent if left empty)
    type: class-select
    allowEmpty: true
    default: none
    options:
    -
        label: Rosewater
        value: ctp-accent-light-rosewater
    -
        label: Flamingo
        value: ctp-accent-light-flamingo
    -
        label: Pink
        value: ctp-accent-light-pink
    -
        label: Mauve
        value: ctp-accent-light-mauve
    -
        label: Red
        value: ctp-accent-light-red
    -
        label: Maroon
        value: ctp-accent-light-maroon
    -
        label: Peach
        value: ctp-accent-light-peach
    -
        label: Yellow
        value: ctp-accent-light-yellow
    -
        label: Green
        value: ctp-accent-light-green
    -
        label: Teal
        value: ctp-accent-light-teal
    -
        label: Sky
        value: ctp-accent-light-sky
    -
        label: Sapphire
        value: ctp-accent-light-sapphire
    -
        label: Blue
        value: ctp-accent-light-blue
    -
        label: Lavender
        value: ctp-accent-light-lavender
-
    id: anuppuccin-theme-accents
    title: Dark Theme Accent
    description: Select your preferred accent
    type: class-select
    allowEmpty: false
    default: ctp-accent-rosewater
    options:
    -
        label: Rosewater
        value: ctp-accent-rosewater
    -
        label: Flamingo
        value: ctp-accent-flamingo
    -
        label: Pink
        value: ctp-accent-pink
    -
        label: Mauve
        value: ctp-accent-mauve
    -
        label: Red
        value: ctp-accent-red
    -
        label: Maroon
        value: ctp-accent-maroon
    -
        label: Peach
        value: ctp-accent-peach
    -
        label: Yellow
        value: ctp-accent-yellow
    -
        label: Green
        value: ctp-accent-green
    -
        label: Teal
        value: ctp-accent-teal
    -
        label: Sky
        value: ctp-accent-sky
    -
        label: Sapphire
        value: ctp-accent-sapphire
    -
        label: Blue
        value: ctp-accent-blue
    -
        label: Lavender
        value: ctp-accent-lavender
-
    id: anuppuccin-accent-toggle
    title: Force Custom Accents
    description: Forces colorscheme-specific custom accents to be utilised instead of default obsidian accent
    type: class-toggle
    default: true
-
    id: anuppuccin-url-extended-colorschemes
    title: Extended Color Schemes Snippet
    description: "Download the snippet by clicking on [this link](https://github.com/AnubisNekhet/AnuPpuccin/blob/main/snippets/extended-colorschemes.css)."
    type: info-text
    markdown: true

# Colors :: Color Overrides

-
    id: anp-color-overrides-header
    title: Color Overrides
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: ctp-custom-rosewater
    title: Rosewater
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-flamingo
    title: Flamingo
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-pink
    title: Pink
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-mauve
    title: Mauve
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-red
    title: Red
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-maroon
    title: Maroon
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-peach
    title: Peach
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-yellow
    title: Yellow
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-green
    title: Green
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-teal
    title: Teal
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-sky
    title: Sky
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-sapphire
    title: Sapphire
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-blue
    title: Blue
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-lavender
    title: Lavender
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-text
    title: Text
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-subtext1
    title: Subtext 1
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-subtext0
    title: Subtext0
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-overlay2
    title: Overlay 2
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-overlay1
    title: Overlay 1
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-overlay0
    title: Overlay 0
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-surface2
    title: Surface 2
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-surface1
    title: Surface 1
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-surface0
    title: Surface 0
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-base
    title: Base
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-mantle
    title: Mantle
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
-
    id: ctp-custom-crust
    title: Crust
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'

# File Editor

-
    id: anp-editor-header
    title: File Editor & Markdown Elements
    description: Callouts, Checkboxes, Codeblocks, Lists, Tables, Tags, etc.
    type: heading
    level: 1
    collapsed: true
-
    id: anp-active-line
    title: Active line highlight
    type: class-select
    allowEmpty: false
    default: anp-no-highlight
    options:
    -
        label: None
        value: anp-no-highlight
    -
        label: Highlight
        value: anp-current-line
    -
        label: Highlight + Border
        value: anp-current-line-border
    -
        label: Border Only
        value: anp-current-line-border-only

# File Editor & Markdown Elements :: Callouts
-
    id: anp-callout-header
    title: Callouts
    description: Callout styles, border radius, custom colors
    type: heading
    level: 2
    collapsed: true
-
    id: anp-callout-select
    title: Callout Style
    type: class-select
    default: none
    allowEmpty: false
    options:
    -
        label: Default
        value: none
    -
        label: Sleek
        value: anp-callout-sleek
    -
        label: Block
        value: anp-callout-block
    -
        label: Vanilla Normal
        value: anp-callout-vanilla-normal
    -
        label: Vanilla Plus
        value: anp-callout-vanilla-plus
-
    id: anp-callout-color-toggle
    title: Enable Custom Callout Colors
    type: class-toggle
-
    id: callout-radius
    title: Callout Radius
    type: variable-number
    default: 4
    format: px
-
    id: callout-padding
    title: Callout Padding
    description: Be careful, it does not properly work with all the callouts style yet.
    type: variable-text
    default: 0px
-
    id: callout-title-padding
    title: Callout Title Padding
    type: variable-text
    default: 8px
-
    id: callout-title-opacity
    title: Callout Title Background Opacity
    description: Applies to Sleek, Vanilla and Vanilla Plus callouts
    type: variable-number-slider
    default: 0.1
    min: 0
    max: 1
    step: 0.05
-
    id: callout-content-padding
    title: Callout Content Padding
    type: variable-text
    default: 8px
-
    id: anp-callout-fold-position
    title: Callout Fold Position
    type: variable-select
    default: '0'
    options:
    -
        label: Left
        value: 0
    -
        label: Right
        value: 1

# File Editor & Markdown Elements :: Checkboxes

-
    id: anp-custom-checkboxes-header
    title: Checkboxes
    description: Custom checkboxes and speech bubbles
    type: heading
    level: 2
    collapsed: true
-
    id: anp-custom-checkboxes
    title: Enable Custom Checkboxes
    type: class-toggle
-
    id: anp-speech-bubble
    title: Enable Speech Bubbles
    type: class-toggle

# File Editor & Markdown Elements :: Codeblocks

-
    id: anp-codeblock-header
    title: Codeblocks
    description: Codeblock wrapping, line numbering
    type: heading
    level: 2
    collapsed: true
-
    id: anp-codeblock-numbers
    title: Enable Codeblock Numbering
    type: class-toggle
-
    id: anp-codeblock-wrap-edit
    title: Codeblock Line Wrap (Edit Mode)
    description: Does not work for codeblocks with syntax highlighting
    type: class-select
    default: none
    options:
    -
        label: Wrap
        value: none
    -
        label: No Wrap
        value: anp-codeblock-edit-nowrap
-
    id: anp-codeblock-wrap-preview
    title: Codeblock Line Wrap (Preview Mode)
    description: Does not work for codeblocks with syntax highlighting
    type: class-select
    default: none
    options:
    -
        label: Wrap
        value: none
    -
        label: No Wrap
        value: anp-codeblock-preview-nowrap
-
    id: anp-codeblock-wrap-hl-preview
    title: Syntax Highlighted Codeblock Line Wrap (Preview Mode)
    type: class-select
    default: none
    options:
    -
        label: Wrap
        value: none
    -
        label: No Wrap
        value: anp-codeblock-preview-hl-nowrap
-
    id: anp-code-bg-color
    title: Codeblock Background Color
    type: variable-themed-color
    allowEmpty: true
    format: hex
    opacity: false
    default-light: '#'
    default-dark: '#'
-
    id: anp-code-text-color
    title: Codeblock Text Color
    type: variable-themed-color
    description: Applies to codeblocks without syntax highlighting
    allowEmpty: true
    format: hex
    opacity: false
    default-light: '#'
    default-dark: '#'

# File Editor & Markdown Elements :: Embeds
-
    id: anp-embed-header
    title: Embeds
    description: Images, videos, iframes, etc.
    type: heading
    level: 2
    collapsed: true
-
    id: embed-corner-radius
    title: Embed Corner Radius
    type: variable-number
    default: 4
    format: px

# File Editor & Markdown Elements :: LaTeX

-
    id: anp-latex-header
    title: LaTex
    type: heading
    description: LaTeX (Math) color, font size
    level: 2
    collapsed: true
-
    id: anp-latex-inline-color
    title: LaTeX Inline Color
    type: class-select
    allowEmpty: true
    default: anp-latex-inline-text
    options:
    -
        label: Rosewater
        value: anp-latex-inline-rosewater
    -
        label: Flamingo
        value: anp-latex-inline-flamingo
    -
        label: Pink
        value: anp-latex-inline-pink
    -
        label: Mauve
        value: anp-latex-inline-mauve
    -
        label: Red
        value: anp-latex-inline-red
    -
        label: Maroon
        value: anp-latex-inline-maroon
    -
        label: Peach
        value: anp-latex-inline-peach
    -
        label: Yellow
        value: anp-latex-inline-yellow
    -
        label: Green
        value: anp-latex-inline-green
    -
        label: Teal
        value: anp-latex-inline-teal
    -
        label: Sky
        value: anp-latex-inline-sky
    -
        label: Sapphire
        value: anp-latex-inline-sapphire
    -
        label: Blue
        value: anp-latex-inline-blue
    -
        label: Lavender
        value: anp-latex-inline-lavender
    -
        label: Text
        value: anp-latex-inline-text
    -
        label: Subtext 1
        value: anp-latex-inline-subtext1
    -
        label: Subtext 0
        value: anp-latex-inline-subtext0
    -
        label: Overlay 2
        value: anp-latex-inline-overlay2
    -
        label: Overlay 1
        value: anp-latex-inline-overlay1
    -
        label: Overlay 0
        value: anp-latex-inline-overlay0
    -
        label: Surface 2
        value: anp-latex-inline-surface2
    -
        label: Surface 1
        value: anp-latex-inline-surface1
    -
        label: Surface 0
        value: anp-latex-inline-surface0
-
    id: anp-latex-block-color
    title: LaTeX Block Color
    type: class-select
    allowEmpty: true
    default: anp-latex-block-text
    options:
    -
        label: Rosewater
        value: anp-latex-block-rosewater
    -
        label: Flamingo
        value: anp-latex-block-flamingo
    -
        label: Pink
        value: anp-latex-block-pink
    -
        label: Mauve
        value: anp-latex-block-mauve
    -
        label: Red
        value: anp-latex-block-red
    -
        label: Maroon
        value: anp-latex-block-maroon
    -
        label: Peach
        value: anp-latex-block-peach
    -
        label: Yellow
        value: anp-latex-block-yellow
    -
        label: Green
        value: anp-latex-block-green
    -
        label: Teal
        value: anp-latex-block-teal
    -
        label: Sky
        value: anp-latex-block-sky
    -
        label: Sapphire
        value: anp-latex-block-sapphire
    -
        label: Blue
        value: anp-latex-block-blue
    -
        label: Lavender
        value: anp-latex-block-lavender
    -
        label: Text
        value: anp-latex-block-text
    -
        label: Subtext 1
        value: anp-latex-block-subtext1
    -
        label: Subtext 0
        value: anp-latex-block-subtext0
    -
        label: Overlay 2
        value: anp-latex-block-overlay2
    -
        label: Overlay 1
        value: anp-latex-block-overlay1
    -
        label: Overlay 0
        value: anp-latex-block-overlay0
    -
        label: Surface 2
        value: anp-latex-block-surface2
    -
        label: Surface 1
        value: anp-latex-block-surface1
    -
        label: Surface 0
        value: anp-latex-block-surface0
-
    id: anp-latex-block-font-size
    title: LaTeX Block Font Size
    description: Change the font size of LaTeX blocks.
    type: variable-number
    default: 100
    format: "%"

# File Editor & Markdown Elements :: Lists

-
    id: anp-list-header
    title: Lists
    description: Styling, indent, spacing
    type: heading
    level: 2
    collapsed: true
-
    id: anp-list-toggle
    title: Enable List Styling
    type: class-toggle
-
    id: list-indent
    title: List Indent
    type: variable-number
    default: 2
    format: em
-
    id: list-spacing
    title: List Spacing
    type: variable-number
    default: 0.075
    format: em
-
    id: list-marker-color
    title: Unordered list bullet color
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'hex'
-
    id: list-numbered-style
    title: Ordered list style
    type: variable-select
    default: decimal
    options:
    -
        label: "Decimal"
        value: decimal
    -
        label: "Decimal with leading zeroes"
        value: decimal-leading-zero
    -
        label: "Lowercase alphabetical"
        value: lower-alpha
    -
        label: "Uppercase alphabetical"
        value: upper-alpha
    -
        label: "Lowercase Roman Numerals"
        value: lower-roman
    -
        label: "Uppercase Roman Numerals"
        value: upper-roman
    -
        label: "Lowercase Latin"
        value: lower-latin
    -
        label: "Uppercase Latin"
        value: upper-latin
    -
        label: "Lowercase Greek"
        value: lower-greek
    -
        label: "Uppercase Greek"
        value: upper-greek
    -
        label: "Hiragana"
        value: hiragana
    -
        label: "Hiragana Iroha"
        value: hiragana-iroha
    -
        label: "Katakana"
        value: armenian
    -
        label: "Katakana Iroha"
        value: katakana-iroha
    -
        label: "Armenian"
        value: armenian
    -
        label: "CJK Ideographic"
        value: cjk-ideographic
    -
        label: "Hebrew"
        value: hebrew

# File Editor & Markdown Elements :: Tables

-
    id: anp-table-header
    title: Tables
    description: Table width, alignment, table element highlight and alignment, border width
    type: heading
    level: 2
    collapsed: true
-
    id: anp-table-toggle
    title: Enable Table Styling
    type: class-toggle
-
    id: anp-table-width
    title: Enable Custom Table Width
    description: Use anp-table-width for yaml syntax
    type: class-toggle
-
    id: anp-table-auto
    title: Center Tables
    description: Use anp-table-auto for yaml syntax
    type: class-toggle
-
    id: anp-table-th-highlight
    title: <th> Highlight
    type: class-toggle
-
    id: anp-td-highlight
    title: <td> Highlight
    type: class-select
    default: anp-td-none
    allowEmpty: false
    options:
    -
        label: None
        value: none
    -
        label: Alternate Rows
        value: anp-table-row-alt
    -
        label: Alternate Columns
        value: anp-table-col-alt
    -
        label: Checkered
        value: anp-table-checkered
    -
        label: Full
        value: anp-table-full
-
    id: anp-table-highlight-opacity
    title: Highlight Opacity
    default: 0.5
    type: variable-number-slider
    min: 0
    max: 1
    step: 0.1
-
    id: anp-table-align-th
    title: <th> Text Align
    type: variable-select
    default: center
    options:
    -
        label: Left
        value: left
    -
        label: Center
        value: center
    -
        label: Right
        value: right
-
    id: anp-table-align-td
    title: <td> Text Align
    type: variable-select
    default: center
    options:
    -
        label: Left
        value: left
    -
        label: Center
        value: center
    -
        label: Right
        value: right
-
    id: anp-table-thickness
    title: Custom Table Border Width
    type: variable-number
    default: 2
    format: px
-
    id: anp-table-width-pct
    title: Custom Table Width
    type: variable-number
    default: 100
    format: "%"

# File Editor & Markdown Elements :: Tags

-
    id: anp-tags-header
    title: Tags
    description: Border Width and Border Radius of Tags
    type: heading
    level: 2
    collapsed: true
-
    id: tag-border-width
    title: Tag Border Width
    type: variable-number
    default: 0
    format: px
-
    id: tag-radius
    title: Tag Radius
    type: variable-number-slider
    default: 2
    max: 2
    min: 0
    step: 0.1
    format: em

# File Preview

-
    id: anp-preview-header
    title: File Preview
    description: File Preview Margins and Word-Wrap Width
    type: heading
    level: 1
    collapsed: true
-
    id: anp-toggle-preview
    title: Enable Custom Preview Margins
    type: class-toggle
-
    id: file-margins
    title: File Margins
    type: variable-number
    default: 32
    format: px
-
    id: anp-preview-width-pct
    title: Preview Width
    type: variable-number
    default: 80
    format: "%"
-
    id: file-line-width
    title: Maximum Preview Width
    type: variable-number
    default: 700
    format: px

# Integrations

-
    id: anp-plugin-header
    title: Integrations
    description: Kanban, MAKE.md, Minimal Cards Snippet, etc.
    type: heading
    level: 1
    collapsed: true

# Integrations :: Kanban

-
    id: anp-plugin-kanban
    title: Kanban
    description: 
    type: heading
    level: 2
    collapsed: true

# Integrations :: Kanban :: Card Settings

-
    id: anp-plugin-card-settings
    title: Card Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-kanban-hide-card-menus
    title: Hide the Card Menu Button
    type: class-toggle
-
    id: anp-kanban-hide-archive-btn
    title: Hide the Archive Card Button
    type: class-toggle
-
    id: anp-kanban-hide-card-border
    title: Disable Card Borders
    type: class-toggle
-
    id: anp-kanban-card-opacity
    title: Card Opacity
    type: variable-number-slider
    default: 1
    min: 0
    max: 1
    step: 0.05
-
    id: anp-kanban-card-radius
    title: Card Radius
    type: variable-number-slider
    default: 6
    format: px
    min: 0
    max: 10
    step: 1
-
    id: anp-kanban-card-spacing
    title: Card Spacing
    type: variable-number-slider
    default: 8
    format: px
    min: -1
    max: 8
    step: 1

# Integrations :: Kanban :: Lane Settings

-
    id: anp-plugin-lane-settings
    title: Lane Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-kanban-lanes
    title: Enable Full Height Lanes
    description: Toggles maximum height for Kanban lanes
    type: class-toggle
-
    id: anp-kanban-hide-lane-border
    title: Disable Lane Borders
    type: class-toggle
-
    id: anp-kanban-lane-opacity
    title: Lane Opacity
    type: variable-number-slider
    default: 1
    min: 0
    max: 1
    step: 0.05
-
    id: anp-kanban-lane-radius
    title: Lane Radius
    type: variable-number-slider
    default: 6
    format: px
    min: 0
    max: 10
    step: 1
-
    id: anp-kanban-lane-spacing
    title: Lane Spacing
    type: variable-number-slider
    default: 10
    format: px
    min: -1
    max: 20
    step: 1

# Integrations :: Kanban :: Search Settings

-
    id: anp-plugin-kanban-search-settings
    title: Search Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-kanban-search-full
    title: Enable Full Width Search Bar
    description: 
    type: class-toggle
-
    id: anp-kanban-collapse-lanes
    title: Collapse Lanes With No Search Results
    description: 
    type: class-toggle
-
    id: anp-kanban-hide-cards
    title: Hide Cards That Don't Contain the Search Query
    description: 
    type: class-toggle
-
    id: anp-kanban-hide-mark
    title: Hide Search Result Highlight in Cards
    description: 
    type: class-toggle
-
    id: anp-kanban-uncollapse-lanes
    title: Uncollapse Lanes and Unhide Cards When Sorting
    description: 
    type: class-toggle

# Integrations :: MAKE.md

-
    id: anp-plugin-makemd
    title: MAKE.md
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-inline-title-vis
    title: Inline Title Visibility
    description: Make.md requires inline titles to be enabled to show folder titles, hence this toggle exists to disable it on notes elsewhere.
    type: variable-select
    default: block
    options:
    -
        label: Visible
        value: block
    -
        label: Invisible
        value: none

# Integrations :: Minimal Cards

-
    id: anp-snippet-minimal-cards
    title: Minimal Cards
    type: heading
    level: 2
    collapsed: true
-
    id: anp-snippet-minimal-cards-disc
    title: Usage
    description: "Minimal Cards is a feature of [Minimal](https://github.com/kepano/obsidian-minimal). AnuPpuccin does not come compiled with the snippet, however you can use a compiled version with this theme."
    type: info-text
    markdown: true
-
    id: anuppuccin-url-minimal-cards-snippet
    title: Minimal Cards Snippet
    description: "Download the snippet from [kepano](https://github.com/kepano/)'s github via [this link](https://github.com/kepano/obsidian-minimal/blob/master/src/scss/features/cards.scss)."
    type: info-text
    markdown: true
-
    id: cards-min-width
    title: Card minimum width
    type: variable-text
    default: 180px
-
    id: cards-max-width
    title: Card maximum width
    description: Default fills the available width, accepts valid CSS units
    type: variable-text
    default: 1fr
-
    id: cards-mobile-width
    title: Card minimum width on mobile
    type: variable-text
    default: 120px
-
    id: cards-padding
    title: Card padding
    type: variable-text
    default: 1.2em
-
    id: cards-image-height
    title: Card maximum image height
    type: variable-text
    default: 400px
-
    id: cards-border-width
    title: Card border width
    type: variable-text
    default: 1px

# Miscellaneous

-
    id: anp-misc-element-header
    title: Miscellaneous
    description: Color Palette Transition, Custom Metadata Button
    type: heading
    level: 1
    collapsed: true
-
    id: anp-color-transition-toggle
    title: Enable Color Transition (WIP)
    description: "Adds a transition when switching palettes, looks really neat :)"
    type: class-toggle
-
    id: anp-button-metadata-toggle
    title: Enable Custom Metadata Button
    type: class-toggle
-
    id: anp-print
    title: Enable Print Styling
    type: class-toggle

# Show/Hide UI Elements

-
    id: anp-show-hide-elements-header
    title: Show/Hide UI Elements
    description: Toggle Visibility of UI Elements
    type: heading
    level: 1
    collapsed: true
-
    id: anp-autohide-titlebar
    title: Autohide Title Bar
    type: class-toggle
-
    id: anp-cursor
    title: Pointer cursor
    type: variable-select
    default: pointer
    options:
    -
        label: Pointer
        value: pointer
    -
        label: Normal
        value: initial
-
    id: anp-toggle-metadata
    title: Hide Metadata
    type: class-toggle
-
    id: anp-toggle-scrollbars
    title: Hide Scrollbars
    type: class-toggle
-
    id: anp-hide-status-bar
    title: Hide Status Bar
    type: class-toggle
-
    id: anp-tooltip-toggle
    title: Hide Tooltips
    type: class-toggle
-
    id: anp-hide-external-link-icon
    title: Hide External Link Icon
    type: class-toggle
    default: true

# Typography

-
    id: anp-typography-header
    title: Typography
    description: Fonts, Headings, Text Decoration, etc.
    type: heading
    level: 1
    collapsed: true

# Typography :: Font Families

-
    id: anp-font-families-header
    title: Font Families
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-editor-font-source
    title: Source Editor Font
    type: variable-text
    default: Iosevka Comfy Duo
-
    id: anp-editor-font-lp
    title: Live Preview Editor Font
    type: variable-text
    default: Noto Sans
-
    id: anp-editor-font-rv
    title: Reading View Editor Font
    type: variable-text
    default: Noto Sans

# Typography :: Font Weights

-
    id: anp-font-weight-header
    title: Font Weights
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: bold-weight
    title: Bold Weight
    type: variable-select
    default: '600'
    options:
    -
        label: 'Bolder (Relative)'
        value: bolder
    -
        label: Lightest
        value: 100
    -
        label: Lighter
        value: 200
    -
        label: Light
        value: 300
    -
        label: Normal
        value: 400
    -
        label: Bold
        value: 500
    -
        label: Bolder
        value: 600
    -
        label: Extrabold
        value: 700
    -
        label: Extra-extrabold
        value: 800
    -
        label: Black
        value: 900
-
    id: anp-font-live-preview-wt
    title: Live Preview Mode Weight
    type: variable-select
    default: '400'
    options:
    -
        label: Lightest
        value: 100
    -
        label: Lighter
        value: 200
    -
        label: Light
        value: 300
    -
        label: Normal
        value: 400
    -
        label: Bold
        value: 500
    -
        label: Bolder
        value: 600
    -
        label: Extrabold
        value: 700
    -
        label: Extra-extrabold
        value: 800
    -
        label: Black
        value: 900
-
    id: anp-font-preview-wt
    title: Reading Mode Weight
    type: variable-select
    default: '400'
    options:
    -
        label: Lightest
        value: 100
    -
        label: Lighter
        value: 200
    -
        label: Light
        value: 300
    -
        label: Normal
        value: 400
    -
        label: Bold
        value: 500
    -
        label: Bolder
        value: 600
    -
        label: Extrabold
        value: 700
    -
        label: Extra-extrabold
        value: 800
    -
        label: Black
        value: 900
-
    id: anp-font-editor-wt
    title: Source Mode Weight
    type: variable-select
    default: '400'
    options:
    -
        label: Lightest
        value: 100
    -
        label: Lighter
        value: 200
    -
        label: Light
        value: 300
    -
        label: Normal
        value: 400
    -
        label: Bold
        value: 500
    -
        label: Bolder
        value: 600
    -
        label: Extrabold
        value: 700
    -
        label: Extra-extrabold
        value: 800
    -
        label: Black
        value: 900

# Typography :: Headings

-
    id: anp-header-header
    title: Headings
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-header-color-toggle
    title: Enable Custom Heading Colors
    type: class-toggle
-
    id: anp-header-margin-toggle
    title: Enable Custom Heading Margin
    type: class-toggle
-
    id: anp-header-divider-color-toggle
    title: Inherit Divider Color from Heading Color
    type: class-toggle
-
    id: anp-header-margin-value
    title: Heading margin value
    description: Size unit is px
    type: variable-number-slider
    min: 0
    max: 30
    step: 2
    default: 15
    format: px

# Typography :: Headings :: H1

-
    id: anp-h1-header
    title: H1
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: h1-font
    title: H1 Font Family
    type: variable-text
    default: Noto Serif
-
    id: h1-size
    title: H1 Font Size
    type: variable-number
    default: 2
    format: em
-
    id: h1-weight
    title: H1 Font Weight
    type: variable-number
    default: 700
-
    id: h1-line-height
    title: H1 Line Height
    type: variable-number
    default: 1.2
-
    id: anp-h1-color-custom
    title: H1 Color
    type: class-select
    allowEmpty: true
    default: anp-h1-red
    options:
    -
        label: Rosewater
        value: anp-h1-rosewater
    -
        label: Flamingo
        value: anp-h1-flamingo
    -
        label: Pink
        value: anp-h1-pink
    -
        label: Mauve
        value: anp-h1-mauve
    -
        label: Red
        value: anp-h1-red
    -
        label: Maroon
        value: anp-h1-maroon
    -
        label: Peach
        value: anp-h1-peach
    -
        label: Yellow
        value: anp-h1-yellow
    -
        label: Green
        value: anp-h1-green
    -
        label: Teal
        value: anp-h1-teal
    -
        label: Sky
        value: anp-h1-sky
    -
        label: Sapphire
        value: anp-h1-sapphire
    -
        label: Blue
        value: anp-h1-blue
    -
        label: Lavender
        value: anp-h1-lavender
-
    id: anp-h1-divider
    title: H1 Divider
    type: class-toggle

# Typography :: Headings :: H2

-
    id: anp-h2-header
    title: H2
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: h2-font
    title: H2 Font Family
    type: variable-text
    default: Noto Serif
-
    id: h2-size
    title: H2 Font Size
    type: variable-number
    default: 1.6
    format: em
-
    id: h2-weight
    title: H2 Font Weight
    type: variable-number
    default: 600
-
    id: h2-line-height
    title: H2 Line Height
    type: variable-number
    default: 1.2
-
    id: anp-h2-color-custom
    title: H2 Color
    type: class-select
    allowEmpty: true
    default: anp-h2-peach
    options:
    -
        label: Rosewater
        value: anp-h2-rosewater
    -
        label: Flamingo
        value: anp-h2-flamingo
    -
        label: Pink
        value: anp-h2-pink
    -
        label: Mauve
        value: anp-h2-mauve
    -
        label: Red
        value: anp-h2-red
    -
        label: Maroon
        value: anp-h2-maroon
    -
        label: Peach
        value: anp-h2-peach
    -
        label: Yellow
        value: anp-h2-yellow
    -
        label: Green
        value: anp-h2-green
    -
        label: Teal
        value: anp-h2-teal
    -
        label: Sky
        value: anp-h2-sky
    -
        label: Sapphire
        value: anp-h2-sapphire
    -
        label: Blue
        value: anp-h2-blue
    -
        label: Lavender
        value: anp-h2-lavender
-
    id: anp-h2-divider
    title: H2 Divider
    type: class-toggle

# Typography :: Headings :: H3

-
    id: anp-h3-header
    title: H3
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: h3-font
    title: H3 Font Family
    type: variable-text
    default: Noto Serif
-
    id: h3-size
    title: H3 Font Size
    type: variable-number
    default: 1.37
    format: em
-
    id: h3-weight
    title: H3 Font Weight
    type: variable-number
    default: 600
-
    id: h3-line-height
    title: H3 Line Height
    type: variable-number
    default: 1.3
-
    id: anp-h3-color-custom
    title: H3 Color
    type: class-select
    allowEmpty: true
    default: anp-h3-green
    options:
    -
        label: Rosewater
        value: anp-h3-rosewater
    -
        label: Flamingo
        value: anp-h3-flamingo
    -
        label: Pink
        value: anp-h3-pink
    -
        label: Mauve
        value: anp-h3-mauve
    -
        label: Red
        value: anp-h3-red
    -
        label: Maroon
        value: anp-h3-maroon
    -
        label: Peach
        value: anp-h3-peach
    -
        label: Yellow
        value: anp-h3-yellow
    -
        label: Green
        value: anp-h3-green
    -
        label: Teal
        value: anp-h3-teal
    -
        label: Sky
        value: anp-h3-sky
    -
        label: Sapphire
        value: anp-h3-sapphire
    -
        label: Blue
        value: anp-h3-blue
    -
        label: Lavender
        value: anp-h3-lavender
-
    id: anp-h3-divider
    title: H3 Divider
    type: class-toggle

# Typography :: Headings :: H4

-
    id: anp-h4-header
    title: H4
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: h4-font
    title: H4 Font Family
    type: variable-text
    default: Noto Serif
-
    id: h4-size
    title: H4 Font Size
    type: variable-number
    default: 1.25
    format: em
-
    id: h4-weight
    title: H4 Font Weight
    type: variable-number
    default: 600
-
    id: h4-line-height
    title: H4 Line Height
    type: variable-number
    default: 1.4
-
    id: anp-h4-color-custom
    title: H4 Color
    type: class-select
    allowEmpty: true
    default: anp-h4-teal
    options:
    -
        label: Rosewater
        value: anp-h4-rosewater
    -
        label: Flamingo
        value: anp-h4-flamingo
    -
        label: Pink
        value: anp-h4-pink
    -
        label: Mauve
        value: anp-h4-mauve
    -
        label: Red
        value: anp-h4-red
    -
        label: Maroon
        value: anp-h4-maroon
    -
        label: Peach
        value: anp-h4-peach
    -
        label: Yellow
        value: anp-h4-yellow
    -
        label: Green
        value: anp-h4-green
    -
        label: Teal
        value: anp-h4-teal
    -
        label: Sky
        value: anp-h4-sky
    -
        label: Sapphire
        value: anp-h4-sapphire
    -
        label: Blue
        value: anp-h4-blue
    -
        label: Lavender
        value: anp-h4-lavender
-
    id: anp-h4-divider
    title: H4 Divider
    type: class-toggle

# Typography :: Headings :: H5

-
    id: anp-h5-header
    title: H5
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: h5-font
    title: H5 Font Family
    type: variable-text
    default: Noto Serif
-
    id: h5-size
    title: H5 Font Size
    type: variable-number
    default: 1.12
    format: em
-
    id: h5-weight
    title: H5 Font Weight
    type: variable-number
    default: 600
-
    id: h5-line-height
    title: H5 Line Height
    type: variable-number
    default: 1.5
-
    id: anp-h5-color-custom
    title: H5 Color
    type: class-select
    allowEmpty: true
    default: anp-h5-lavender
    options:
    -
        label: Rosewater
        value: anp-h5-rosewater
    -
        label: Flamingo
        value: anp-h5-flamingo
    -
        label: Pink
        value: anp-h5-pink
    -
        label: Mauve
        value: anp-h5-mauve
    -
        label: Red
        value: anp-h5-red
    -
        label: Maroon
        value: anp-h5-maroon
    -
        label: Peach
        value: anp-h5-peach
    -
        label: Yellow
        value: anp-h5-yellow
    -
        label: Green
        value: anp-h5-green
    -
        label: Teal
        value: anp-h5-teal
    -
        label: Sky
        value: anp-h5-sky
    -
        label: Sapphire
        value: anp-h5-sapphire
    -
        label: Blue
        value: anp-h5-blue
    -
        label: Lavender
        value: anp-h5-lavender
-
    id: anp-h5-divider
    title: H5 Divider
    type: class-toggle

# Typography :: Headings :: H6

-
    id: anp-h6-header
    title: H6
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: h6-font
    title: H6 Font Family
    type: variable-text
    default: Noto Serif
-
    id: h6-size
    title: H6 Font Size
    type: variable-number
    default: 1.12
    format: em
-
    id: h6-weight
    title: H6 Font Weight
    type: variable-number
    default: 600
-
    id: h6-line-height
    title: H6 Line Height
    type: variable-number
    default: 1.5
-
    id: anp-h6-color-custom
    title: H6 Color
    type: class-select
    allowEmpty: true
    default: anp-h6-mauve
    options:
    -
        label: Rosewater
        value: anp-h6-rosewater
    -
        label: Flamingo
        value: anp-h6-flamingo
    -
        label: Pink
        value: anp-h6-pink
    -
        label: Mauve
        value: anp-h6-mauve
    -
        label: Red
        value: anp-h6-red
    -
        label: Maroon
        value: anp-h6-maroon
    -
        label: Peach
        value: anp-h6-peach
    -
        label: Yellow
        value: anp-h6-yellow
    -
        label: Green
        value: anp-h6-green
    -
        label: Teal
        value: anp-h6-teal
    -
        label: Sky
        value: anp-h6-sky
    -
        label: Sapphire
        value: anp-h6-sapphire
    -
        label: Blue
        value: anp-h6-blue
    -
        label: Lavender
        value: anp-h6-lavender
-
    id: anp-h6-divider
    title: H6 Divider
    type: class-toggle

# Typography :: Comments
  
-
    id: anp-comment-header
    title: Comments
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: hide-comments
    title: Hide Comments
    description: Hides the comments while not editing them.
    type: class-toggle
-
    id: hide-comment-indicators
    title: Hide Comment Indicators
    description: Hides the '%%' while not editing comments.
    type: class-toggle

# Typography :: Text Decoration

-
    id: anp-decor-header
    title: Text Decoration
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-decoration-toggle
    title: Enable Decoration Colors
    type: class-toggle
-
    id: anp-bold-custom
    title: Bold Color
    type: class-select
    allowEmpty: false
    default: anp-bold-red
    options:
    -
        label: None
        value: none
    -
        label: Rosewater
        value: anp-bold-rosewater
    -
        label: Flamingo
        value: anp-bold-flamingo
    -
        label: Pink
        value: anp-bold-pink
    -
        label: Mauve
        value: anp-bold-mauve
    -
        label: Red
        value: anp-bold-red
    -
        label: Maroon
        value: anp-bold-maroon
    -
        label: Peach
        value: anp-bold-peach
    -
        label: Yellow
        value: anp-bold-yellow
    -
        label: Green
        value: anp-bold-green
    -
        label: Teal
        value: anp-bold-teal
    -
        label: Sky
        value: anp-bold-sky
    -
        label: Sapphire
        value: anp-bold-sapphire
    -
        label: Blue
        value: anp-bold-blue
    -
        label: Lavender
        value: anp-bold-lavender
-
    id: anp-italic-custom
    title: Italic Color
    type: class-select
    allowEmpty: false
    default: anp-italic-green
    options:
    -
        label: None
        value: none
    -
        label: Rosewater
        value: anp-italic-rosewater
    -
        label: Flamingo
        value: anp-italic-flamingo
    -
        label: Pink
        value: anp-italic-pink
    -
        label: Mauve
        value: anp-italic-mauve
    -
        label: Red
        value: anp-italic-red
    -
        label: Maroon
        value: anp-italic-maroon
    -
        label: Peach
        value: anp-italic-peach
    -
        label: Yellow
        value: anp-italic-yellow
    -
        label: Green
        value: anp-italic-green
    -
        label: Teal
        value: anp-italic-teal
    -
        label: Sky
        value: anp-italic-sky
    -
        label: Sapphire
        value: anp-italic-sapphire
    -
        label: Blue
        value: anp-italic-blue
    -
        label: Lavender
        value: anp-italic-lavender
-
    id: anp-highlight-custom
    title: Highlight Color
    type: class-select
    allowEmpty: false
    default: anp-highlight-yellow
    options:
    -
        label: Rosewater
        value: anp-highlight-rosewater
    -
        label: Flamingo
        value: anp-highlight-flamingo
    -
        label: Pink
        value: anp-highlight-pink
    -
        label: Mauve
        value: anp-highlight-mauve
    -
        label: Red
        value: anp-highlight-red
    -
        label: Maroon
        value: anp-highlight-maroon
    -
        label: Peach
        value: anp-highlight-peach
    -
        label: Yellow
        value: anp-highlight-yellow
    -
        label: Green
        value: anp-highlight-green
    -
        label: Teal
        value: anp-highlight-teal
    -
        label: Sky
        value: anp-highlight-sky
    -
        label: Sapphire
        value: anp-highlight-sapphire
    -
        label: Blue
        value: anp-highlight-blue
    -
        label: Lavender
        value: anp-highlight-lavender

# Workspace

-
    id: anp-workspace-header
    title: Workspace
    description: Background, Colorful Frame, Layout, Sidebar, Tabs, Translucency, etc.
    type: heading
    level: 1
    collapsed: true

# Workspace :: Canvas

-
    id: anp-canvas-header
    title: Canvas
    description: Darken Canvas Background
    type: heading
    level: 2
    collapsed: true
-
    id: anp-canvas-dark-bg
    title: Darker Canvas Background
    type: class-toggle

# Workspace :: Colorful Frame

-
    id: colorful-frame
    title: Colorful Frame
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-colorful-frame
    title: "Enable Colorful Frame (WIP)"
    type: class-toggle
-
    id: anp-colorful-frame-icon-toggle-light
    title: "Invert Icon Colors - Light"
    type: class-toggle
-
    id: anp-colorful-frame-icon-toggle-dark
    title: "Invert Icon Colors - Dark"
    type: class-toggle
-
    id: anp-colorful-frame-opacity
    title: Colorful Frame Opacity
    type: variable-number-slider
    default: 1
    min: 0
    max: 1
    step: 0.05
-
    id: anp-colorful-frame-color
    title: Custom Colorful Frame Color
    type: variable-themed-color
    format: "rgb-values"
    opacity: false
    default-light: '#'
    default-dark: '#'
    alt-format:
    -
        id: anp-colorful-frame-color-hsl
        format: "hsl-values"

# Workspace :: File Browser

-
    id: anp-filebrowser-header
    title: File Browser
    description: 'Enable/Disable File Browser elements'
    type: heading
    level: 2
    collapsed: true
-
    id: anp-custom-vault-toggle
    title: Enable custom vault title
    type: class-toggle
-
    id: anp-file-icons
    title: Enable file icons
    type: class-toggle
-
    id: anp-floating-header
    title: Enable floating vault title
    type: class-toggle
-
    id: anp-collapse-folders
    title: Enable folder icons for collapse indicators
    type: class-toggle
-
    id: anp-file-label-align
    title: File label alignment
    type: variable-select
    default: "0"
    options:
    -
        label: Right
        value: 1
    -
        label: Left
        value: 0

# Workspace :: PDF Viewer

-
    id: anp-pdf-viewer-header
    title: PDF Viewer
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-pdf-blend-toggle-dark
    title: Toggle PDF background blending - Dark Mode
    desc: Blends PDF viewer background with obsidian background in dark mode
    type: class-toggle
-
    id: anp-pdf-blend-toggle-light
    title: Toggle PDF background blending - Light Mode
    desc: Blends PDF viewer background with obsidian background in light mode
    type: class-toggle

# Workspace :: Rainbow Folders

-
    id: anp-rainbow-section-header
    title: Rainbow Folders
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anuppuccin-url-custom-rainbow-colors
    title: Custom rainbow folder colors snippet
    description: "Download the snippet through [this link](https://github.com/AnubisNekhet/AnuPpuccin/blob/main/snippets/custom-rainbow-colors.css)."
    type: info-text
    markdown: true
-
    id: anp-alt-rainbow-style
    title: Rainbow style
    type: class-select
    allowEmpty: false
    default: anp-default-rainbow
    options:
    -
        label: None
        value: anp-default-rainbow
    -
        label: Full
        value: anp-full-rainbow-color-toggle
    -
        label: Simple
        value: anp-simple-rainbow-color-toggle

# Workspace :: Rainbow Folders :: Full Folder Settings

-
    id: anp-full-rainbow-folder-settings
    title: Full Folder Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-rainbow-file-toggle
    title: File recolor toggle
    desc: Recolors files to match the folders
    type: class-toggle
-
    id: anp-full-rainbow-text-color-toggle-light
    title: Invert title colors (Light Mode)
    type: class-toggle
-
    id: anp-full-rainbow-text-color-toggle-dark
    title: Invert title colors (Dark Mode)
    type: class-toggle
-
    id: anp-rainbow-folder-bg-opacity
    title: Folder background color opacity
    type: variable-number
    default: 0.7

# Workspace :: Rainbow Folders :: Simple Folder Settings

-
    id: anp-simple-rainbow-folder-settings
    title: Simple Folder Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-simple-rainbow-title-toggle
    title: Enable title recolor
    type: class-toggle
-
    id: anp-simple-rainbow-collapse-icon-toggle
    title: Enable collapse icon recolor
    type: class-toggle
-
    id: anp-simple-rainbow-indentation-toggle
    title: Enable collapse indent recolor
    type: class-toggle
-
    id: anp-simple-rainbow-icon-toggle
    title: Enable circular file
    type: class-toggle
-
    id: anp-rainbow-subfolder-color-toggle
    title: Enable subfolder color inheritance
    type: class-toggle

# Workspace :: Stacked Tabs

-
    id: anp-stacked-tabs-header
    title: Stacked Tabs
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-stacked-header-width
    title: Stacked tabs header width
    type: variable-number
    default: 40
    format: px
-
    id: anp-tab-stacked-pane-width
    title: Stacked tabs pane width multiplier
    description: Multiplies the stack tab pane with which depends on file line width
    type: variable-number
    default: 1

# Workspace :: Status Bar

-
    id: anp-status-bar-header
    title: Status Bar
    description: Select status bar style
    type: heading
    level: 2
    collapsed: true
-
    id: anp-status-bar-select
    title: Status Bar Style
    type: class-select
    default: none
    options:
    -
        label: Default
        value: none
    -
        label: Floating
        value: anp-floating-status-bar
    -
        label: Fixed
        value: anp-fixed-status-bar

# Workspace :: Tabs

-
    id: anp-alt-tab-header
    title: Tabs
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-alt-tab-style
    title: Tab style
    type: class-select
    allowEmpty: false
    default: anp-default-tab
    options:
    -
        label: Default
        value: anp-default-tab
    -
        label: Depth
        value: anp-depth-tab-toggle
    -
        label: Minimalistic
        value: anp-mini-tab-toggle
    -
        label: Safari-style (Animated)
        value: anp-alternate-tab-toggle
    -
        label: Safari-style (Vanilla)
        value: anp-safari-tab-toggle
-
    id: anp-alt-tab-custom-height
    title: Custom tab height
    type: variable-number
    allowEmpty: false
    default: 40
    format: px
-
    id: anp-disable-newtab-align
    title: Disable new tab button right alignment
    type: class-toggle

# Workspace :: Tabs :: Depth Tab Settings

-
    id: anp-depth-tab-header
    title: Depth Tab Settings
    description: Only applies to inactive tabs
    type: heading
    level: 3
    collapsed: true
-
    id: anp-depth-tab-text-invert
    title: Invert tab text color
    type: class-toggle
-
    id: anp-depth-tab-opacity
    title: Tab opacity
    type: variable-number-slider
    default: 0.6
    max: 1
    min: 0
    step: 0.1
-
    id: anp-depth-tab-gap
    title: Tab gap
    type: variable-number
    default: 10
    format: px

# Workspace :: Tabs :: Animated Safari-style Tab Settings

-
    id: anp-safari-tab-header
    title: Animated Safari-style Tab Settings
    description: Adapted from github.com/chuckharmston's snippets
    type: heading
    level: 3
    collapsed: true
-
    id: anp-safari-tab-radius
    title: Tab radius
    type: variable-number
    default: 6
    format: px
-
    id: anp-safari-tab-gap
    title: Tab gap
    type: variable-number
    default: 10
    format: px
-
    id: anp-safari-border-width
    title: Tab border width
    type: variable-number
    default: 1
    format: px

# Workspace :: Tabs :: Vanilla Safari-style Tab Settings

-
    id: anp-safari-vanilla-tab-header
    title: Vanilla Safari-style Tab Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-safari-tab-animated
    title: Enable WIP animated safari tabs
    type: class-toggle

# Workspace :: Translucency

-
    id: anp-translucency-header
    title: Translucency
    description: 
    type: heading
    level: 2
    collapsed: true
-
    id: anp-translucency-opacity
    description: Drag to change background opacity
    title: Window opacity
    type: variable-number
    default: 0.15

# Workspace :: Workspace Layout

-
    id: anp-layout-header
    title: Workspace Layout
    description: Workspace layout and arrangement
    type: heading
    level: 2
    collapsed: true
-
    id: anp-layout-select
    title: Workspace Layout variant
    type: class-select
    allowEmpty: false
    default: none
    options:
    -
        label: Default
        value: none
    -
        label: Border
        value: anp-border-layout
    -
        label: Cards
        value: anp-card-layout
-
    id: anp-bg-fix
    title: Background fix for applying colors
    type: class-toggle
-
    id: anp-hide-borders
    title: Hide borders
    type: class-toggle

# Workspace :: Workspace Layout :: Card Layout

-
    id: anp-layout-card
    title: Card Layout Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-card-radius
    title: Card radius
    type: variable-number
    default: 16
    format: px
-
    id: anp-card-layout-padding
    title: Card padding
    type: variable-number
    default: 10
    format: px
-
    id: anp-card-header-left-padding
    title: Tab left padding
    type: variable-number
    default: 20
    format: px
-
    id: anp-card-shadows
    title: Enable shadows
    type: class-toggle
-
    id: anp-card-layout-actions
    title: Enable card format for actions
    type: class-toggle
-
    id: anp-card-layout-filebrowser
    title: Enable card format for file browser
    type: class-toggle
-
    id: anp-layout-border
    title: Border Layout Settings
    description: 
    type: heading
    level: 3
    collapsed: true
-
    id: anp-border-radius
    title: Border Layout Radius
    type: variable-number
    default: 16
    format: px
-
    id: anp-border-padding
    title: Border Layout Padding
    type: variable-number
    default: 20
    format: px

# Credits

-
    id: anuppuccin-support
    title: Support AnuPpuccin
    description: If you like the theme, here are some ways to support development
    type: heading
    level: 1
    collapsed: true
-
    id: anuppuccin-url-donate
    title: Buy Me a Coffee
    description: "[https://www.buymeacoffee.com/anubisnekhet](https://www.buymeacoffee.com/anubisnekhet)"
    type: info-text
    markdown: true
-
    id: anuppuccin-url-star-repo
    title: Star the Theme on GitHub
    description: "[https://github.com/anubisnekhet/anuppuccin](https://github.com/anubisnekhet/anuppuccin)"
    type: info-text
    markdown: true
-
    id: anuppuccin-url-submit-issue
    title: Submit an Issue on GitHub
    description: "[https://github.com/anubisnekhet/anuppuccin/issues](https://github.com/anubisnekhet/anuppuccin/issues)"
    type: info-text
    markdown: true

*/